<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
<span class="top-menu" style="left:20px"><ion-icon><img menuToggle style="width: 27px;
            height: auto;padding-top: 2px;" src="../../assets/imgs/menu.png"/></ion-icon></span>
  <ion-navbar>
    <ion-title text-center>Contact Us</ion-title>
     <!-- <ion-icon ios="ios-person" md="ios-person-outline" class="person-icon" *ngIf="username!=''" ></ion-icon>  -->
     <span class="user" *ngIf="username!=''" >{{username | limitTo:8}}</span>
  </ion-navbar>

</ion-header>


<ion-content>
    <div class="search-bg">
        <ion-searchbar placeholder="SEARCH IN HERE" (search)="Search($event)"></ion-searchbar>  
          <!-- <span class="top-menu"><ion-icon ios="ios-menu" md="md-menu" menuToggle></ion-icon></span> -->
          <!--<span class="top-menu"><ion-icon><img menuToggle style="width: 27px;
              height: auto;padding-top: 2px;" src="../../assets/imgs/menu.png"/></ion-icon></span>-->
          <span class="top-menu-2"> 
                        <ion-select style="background: #e9e9e9;padding: 9px 3px;max-width: 45px;" [(ngModel)]="currency_id" (ionChange)="setCurrency()">
                            <ion-option *ngFor="let c of currencies" value="{{c.id}}" [innerHTML]="c.text"> </ion-option>
                        </ion-select>
                  </span>
          <span class="basket" (click)="GotoCart()"><ion-icon><img style="width: 27px;
              height: auto;padding-top: 2px;" src="../../assets/imgs/shopping-bag.png"/></ion-icon><ion-badge  class="nbbadge" style="position: absolute;
              right: 0px;
              background-color: #ed1c24;
              border-radius: 50%;
              font-size: 12px;
          ">{{countcart}}</ion-badge></span>
      </div>
    
    <img src="assets/imgs/banner-contact.jpg">
    <img src="assets/imgs/cd.png">
    <div style=" background: #f5f5f5;
    width: 100%;
    display: block;"> 
    <ion-row>
      <ion-col>
          <h6>Mouawad Building, Red Cross Street, Jall Ed Dîb, Mont-Liban - Lebanon	: </h6>
      </ion-col> 
    </ion-row>
    <ion-row>
      <ion-col style="padding-top: 0"> 
        <ul style="    padding-left: 5px;">
            <li>
                <b>t.</b> +961 4 711 202	
            </li>
            <li>
                <b>f.</b> +961 4 711 206	
            </li>
            <li>
                <b>e.</b> info@mouawadmbs.com
            </li>
        </ul> 
      </ion-col>
      <ion-col style="padding: 0;" (click)="Gotolocateus()">
        <img src="../../assets/imgs/google-logo.png" style="width:50px; margin-left: 10%;"/>
        <span style="vertical-align: 100%;
        color: #2f2c7e;
        text-decoration: underline;">Show on Map</span>
      </ion-col>
    </ion-row> 
    </div>
    <div class="content" style="
    padding-left: 0;
    padding-right: 0;
"> 
        <div class="profile-frm" style="    width: 100%;
        margin: 0;">
            <ion-list>
              <ion-item>
                <ion-input type="text" placeholder="FULL NAME" [(ngModel)]="fullName"></ion-input>
              </ion-item>  
              <ion-item>
                <ion-input type="email" placeholder="EMAIL ADDRESS" [(ngModel)]="emailAddress"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input type="number" placeholder="MOBILE" [(ngModel)]="mobile"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input type="area" placeholder="REQUEST" [(ngModel)]="request" style="height: 100px;"></ion-input>
              </ion-item> 
            </ion-list> 
            <button type="submit" ion-button class="btn-profile" (click)="SendRequest()">SEND REQUEST</button>
        </div>
        
    </div>
    
</ion-content>
