page-contactus {
    .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner
    {
        border:none !important;
        box-shadow:none !important;
    }
    .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child{
        border:none !important;
        box-shadow:none !important;
    }
    span,li{
        font-family: 'Avenir-45' !important
      }
      h6,p{
        font-family: 'Avenir-85' !important
      }
}
