<div class="btn-close" (click)="closeModal()">
  <ion-icon name="close"></ion-icon>
</div>
<ion-content>
<div class="bottom-two" style="text-align: center" (click)="GoToShipping()">
    <p class="sent-btn">PROCEED>></p>
    <!-- <p class="print-p">PRINT VOUCHER</p> -->
  </div>
  <div class="top-cols">

    <ion-row class="up-row">
      <ion-col [ngClass]="{'first-col': selected==50000}"   (click)="SelectCoupon(50000)">
        <p class="first-p">LL50,000</p>
        <p>COUPON</p>
      </ion-col>
      <ion-col [ngClass]="{'first-col': selected==75000}"  (click)="SelectCoupon(75000)">
        <p class="first-p">LL75,000</p>
        <p>COUPON</p>
      </ion-col>
      <ion-col [ngClass]="{'first-col': selected==100000}"  (click)="SelectCoupon(100000)">
        <p class="first-p">LL100,000</p>
        <p>COUPON</p>
      </ion-col>
      <ion-col [ngClass]="{'first-col': selected==150000}"  (click)="SelectCoupon(150000)">
        <p class="first-p">LL150,000</p>
        <p>COUPON</p>
      </ion-col>
       
        <ion-col [ngClass]="{'first-col': selected==200000}"  (click)="SelectCoupon(200000)">
            <p class="first-p">LL200,000</p>
            <p>COUPON</p>
          </ion-col>
      <ion-col [ngClass]="{'first-col': selected==250000}"  (click)="SelectCoupon(250000)">
        <p class="first-p">LL250,000</p>
        <p>COUPON</p>
      </ion-col>
      <ion-col [ngClass]="{'first-col': selected==300000}"  (click)="SelectCoupon(300000)">
        <p class="first-p">LL300,000</p>
        <p>COUPON</p>
      </ion-col>
      <ion-col [ngClass]="{'first-col': selected==350000}"  (click)="SelectCoupon(350000)">
        <p class="first-p">LL350,000</p>
        <p>COUPON</p>
      </ion-col>
      <ion-col [ngClass]="{'first-col': selected==400000}" (click)="SelectCoupon(400000)">
        <p class="first-p">LL400,000</p>
        <p>COUPON</p>
      </ion-col>
      <ion-col [ngClass]="{'first-col': selected==500000}"  (click)="SelectCoupon(500000)">
        <p class="first-p">LL500,000</p>
        <p>COUPON</p>
      </ion-col>
    </ion-row>
  </div>
   
    <ion-grid class="bot-area" style="height: auto;">
      <ion-row>
        <ion-col col-12>
          <div class="left-side" style="width:100%">
            <p class="left-head">LL{{selected| number}} COUPON <img class="barcode-img" src="assets/img/barcode.png"></p>
            
            <p class="left-des">Benefit from this amaizing Gift Voucher</p>
            <p class="left-des">the perfect gift for everyone</p>
      
      
            <p class="banner-title">MOUAWAD</p>
            <p class="banner-tit-des">BOOKS & STATIONERY s.a.r.l</p>
            <img src="assets/img/yellow-bg.png" class="banner-bg">
      
            <div class="star-div">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
            </div>
          </div>
        </ion-col>
         
      </ion-row>
    
    </ion-grid>
 


  
</ion-content>