<ion-header  >
    <span class="top-menu"><ion-icon><img menuToggle style="width: 27px;
            height: auto;padding-top: 2px;" src="../../assets/imgs/menu.png"/></ion-icon></span>
  <ion-navbar>
    <ion-title text-center>Account</ion-title> 
  </ion-navbar>
</ion-header>

<ion-content >
		<div class="search-bg">
			<ion-searchbar placeholder="SEARCH IN HERE" (search)="Search($event)"></ion-searchbar>  
				  <!-- <span class="top-menu"><ion-icon ios="ios-menu" md="md-menu" menuToggle></ion-icon></span> -->
			<!--<span class="top-menu"><ion-icon><img menuToggle style="width: 27px;height: auto;padding-top: 2px;" src="../../assets/imgs/menu.png"/></ion-icon></span>-->
                        <span class="top-menu-2"> 
                            <ion-select style="background: #e9e9e9;padding: 9px 3px;max-width: 45px;" [(ngModel)]="currency_id" (ionChange)="setCurrency()">
                                <ion-option *ngFor="let c of currencies" value="{{c.id}}" [innerHTML]="c.text"> </ion-option>
                            </ion-select>
                      </span>
			<span class="basket" (click)="GotoCart()"><ion-icon><img style="width: 27px;height: auto;padding-top: 2px;" src="../../assets/imgs/shopping-bag.png"/></ion-icon><ion-badge  class="nbbadge" style="position: absolute;
					  right: 0px;
					  background-color: #ed1c24;
					  border-radius: 50%;
					  font-size: 12px;">{{countcart}}</ion-badge></span>
		</div>
	<img src="assets/imgs/login_banner.png">
	<!-- <div #map id="map" style="display:none"></div>  -->
	<div class="login_field" *ngIf="mode=='signin'" style="margin-top:0 !important">
		<div class="new_wraperd" style=" margin-top: 0px;">
			<h3 class="headingnew" style="text-align: center;margin-top:0 !important" ><img (click)="LoginWithFacebook()" src="assets/imgs/fb.png"><br/> Or </h3>
			<h3 class="headingnew" style="text-align: center;margin-top:0 !important" ><img (click)="googlePlusLogin()" src="assets/imgs/google.png"><br/> Or </h3>
		</div>
		<ion-list>
			<ion-item>
				<ion-input style="background:url('assets/imgs/icon1.png')" placeholder="Email" [(ngModel)]="userName" clearInput></ion-input>
			</ion-item>
			<ion-item>
				<ion-input style="background:url('assets/imgs/icon4.png')" placeholder="Password" type="password"  [(ngModel)]="password" clearInput></ion-input>
			</ion-item>
			<!-- <a><a href="#">Forgot password?</a></p> -->
			<div class="checklboc"><ion-checkbox [(ngModel)]="saveuserid" checked="true"></ion-checkbox> <span>Keep me signed in</span></div>
			<ion-item>
				<button ion-button block color="primary" (click)="Login()">Sign In <img src="assets/imgs/next.png"></button>
			</ion-item>
			<p class="texnews" (click)="GotoSignUp()">Create Account</p>
		</ion-list>
		
	</div>
 
	<h3 class="headingnew" *ngIf="mode=='signup'"> Create Your <span>Account Today</span></h3>
    <div class="login_field" *ngIf="mode=='signup'">
		<ion-list>
			<!-- <ion-item>
				<ion-input style="background:url('assets/imgs/icon1.png')" placeholder="Username/Mobile number *" [(ngModel)]="reguserName" clearInput></ion-input>
			</ion-item> -->
			<ion-item>
				<ion-input style="background:url('assets/imgs/icon2.png')" placeholder="Email Address *" clearInput [(ngModel)]="emailAddress"></ion-input>
			</ion-item>
			<ion-item>
				<ion-input style="background:url('assets/imgs/icon3.png')" placeholder="Full Name / Company *" clearInput [(ngModel)]="fullName"></ion-input>
			</ion-item>
			<ion-item>
				<ion-select style="    margin-bottom: 10px;
				border: 1px solid #b8b8b8 !important;
				border-right: 0px !important;
				padding-top: 15px;" [(ngModel)]="regcountry">
				<ion-option *ngFor="let country of countries" value="{{country.dial_code}}" [innerHTML]="country.code+country.dial_code"> </ion-option>
			    </ion-select>
				<ion-input style="background:url('assets/imgs/icon5.png');background-size: 12px !important;" placeholder="Mobile Number *" clearInput [(ngModel)]="mobile"></ion-input>
			</ion-item>
			
			<ion-grid>
			  <ion-row>
				<ion-col col-6>
					<ion-item>
						<ion-input style="background:url('assets/imgs/icon4.png')" type="password"  placeholder="Password *" clearInput [(ngModel)]="regpassword"></ion-input>
					</ion-item>
				</ion-col>
				<ion-col col-6>
					<ion-item>
						<ion-input class="confirm_pass" type="password"  placeholder="Verify password *" clearInput [(ngModel)]="verfiypassword"></ion-input>
					</ion-item>
				</ion-col>
			  </ion-row>
			</ion-grid>
			<div class="checklboc"><ion-checkbox [(ngModel)]="aggre" checked=false></ion-checkbox> <span>I agree on the terms and coniditions</span></div>
			<ion-item>
				<button ion-button block color="primary" (click)="SignUp()">Sign up <img src="assets/imgs/next.png"></button>
			</ion-item>
			<p class="texnews" (click)="GotoSignIn()">Sign in</p>
		</ion-list>
	
		
	</div>
	<div class="gr-pgbg" *ngIf="mode=='profile'"> 
		  
		  <h2 class="p-hd">My personal info</h2>
		  <div class="profile-frm">
			  <ion-list>
				  <ion-item class="dgf">
					  <ion-input type="text" placeholder="Full Name *" [(ngModel)]="profilefullname"></ion-input>
				  </ion-item>
				  <ion-grid>
					<ion-row *ngIf="!isCompany" >
					  <ion-col col-6>
						  <ion-item>
							  <ion-label>FEMALE</ion-label>
		  						<ion-checkbox [(ngModel)]="genderfemale" (ionChange)="genderchangefemale()"></ion-checkbox>
						  </ion-item>
					  </ion-col>
					  <ion-col col-6>
						  <ion-item>
							  <ion-label>MALE</ion-label>
		 						 <ion-checkbox [(ngModel)]="gendermale" (ionChange)="genderchangemale()"></ion-checkbox>
						  </ion-item>
					  </ion-col>
					</ion-row>
					<ion-row>
						<ion-col col-6>
							<ion-item>
								<ion-label>Company</ion-label>
								<ion-checkbox [(ngModel)]="isCompany"></ion-checkbox>
							</ion-item>
						</ion-col>
					</ion-row>
				  </ion-grid>
				  <ion-item>
					  <ion-label style="    border: 1px solid #b8b8b8 !important;
					  padding: 13px 8px 13px 16px;
					  margin-right: 0;
					  border-right: 0px !important;">
						  D.O.B
					  </ion-label>
					    <ion-datetime style="width:80%; border: 1px solid #b8b8b8 !important;" displayFormat="MM DD YY" placeholder="D.O.B" [(ngModel)]="dob" placeholder="-Select DOB-" ></ion-datetime> 
				  </ion-item>
				  <ion-item>
					  <ion-input type="email" placeholder="Email Address *" [(ngModel)]="profileemail"></ion-input>
				  </ion-item>
				  <ion-item>
					  <ion-input type="number" placeholder="Mobile *" [(ngModel)]="profileMobile"></ion-input>
				  </ion-item>
				  <ion-item>
					  <ion-input type="text" placeholder="Occupation *" [(ngModel)]="profileOccupation"></ion-input>
				  </ion-item> 
				  <ion-item *ngIf="isCompany">
						<ion-input type="text" placeholder="M.O.F" [(ngModel)]="profileMOF"></ion-input>
				  </ion-item>  
			  </ion-list> 
			  <button type="submit" style="margin-bottom: 5px;" ion-button class="btn-profile" (click)="UpdateProfile()">save</button>
		  </div>
		  <h2 class="p-hd" *ngIf="addresses && addresses.length>0" >Addresses</h2>
		  <div class="profile-frm" *ngIf="addresses && addresses.length>0">
			<ion-list>
				<ion-item *ngFor="let address of addresses" >
					<ion-grid>
						<ion-row>
							<ion-col col-10 style="font-family: 'Avenir-45' !important;">
								Type :  {{address.addressType}} <br/>
								Mobile :  {{address.mobile}} <br/>
								Detials :  {{address.addressDetails}} <br/>
								<span style= "color:red;font-family: 'Avenir-45' !important;" *ngIf="address.isDefault === '1'" >
										Default Address
									</span>
							</ion-col>
							<ion-col col-1 (click)="EditAddress(address)">
								<ion-icon name="create"></ion-icon>
							</ion-col>
							<!-- *ngIf="address.isDefault === '0'" -->
							<ion-col col-1 (click)="DeleteAddress(address)" *ngIf="address.isDefault === '0'">
								<ion-icon name="close"></ion-icon>
							</ion-col>
						</ion-row>
					</ion-grid>
				</ion-item>
			</ion-list>
			<button type="submit" style="margin-bottom: 5px;" ion-button class="btn-profile" (click)="AddNewAddress()">+ Add New Address</button>
		  </div>
		  <h2 class="p-hd" *ngIf="addresses && addresses.length==0" >Default Address(USED FOR SHIPPING)</h2>
		  <div class="profile-frm" *ngIf="addresses && addresses.length==0" >
			  <ion-list> 
				  <ion-item>
					<ion-input type="text" placeholder="Type of Address(Home,Work ...) *" [(ngModel)]="profiletype"></ion-input>
				  </ion-item>
				  <ion-item>
						<ion-input type="number" placeholder="Mobile *" [(ngModel)]="profileDefAddMobile"></ion-input>
				  </ion-item>
				  <ion-item>
					<ion-input type="text" placeholder="Province *" [(ngModel)]="profileProvince"></ion-input>
				  </ion-item> 
				  <ion-item>
					 <ion-input type="text" placeholder="City *" [(ngModel)]="profileCity"></ion-input>
				  </ion-item>
				  <ion-item style="border: 1px solid #b8b8b8 !important;width: 95%;margin-left: 3%;">
						<ion-label>Country *</ion-label>
						<ion-select [(ngModel)]="profileCountry">
						<ion-option *ngFor="let country of countriesall" value="{{country.countryId}}" [innerHTML]="country.country_name"> </ion-option>
						</ion-select> 
				  </ion-item>
				 <ion-item>
					<ion-input type="text" placeholder="Building *" [(ngModel)]="profileBuilding"></ion-input>
				 </ion-item>
				 <ion-item>
					<ion-input type="text" placeholder="Postal Code" [(ngModel)]="profilepostalCode"></ion-input>
				 </ion-item> 
				 <ion-item>
					<ion-input type="text" placeholder="Additional Information *" [(ngModel)]="profileaddressDetails"></ion-input>
				 </ion-item> 
				  
			  </ion-list> 
			  <button type="submit" ion-button class="btn-profile"   style="margin-bottom: 5px;" *ngIf="!addmap" (click)="AddMap()">Add Map</button>
			  <button type="submit" ion-button class="btn-profile"   style="margin-bottom: 5px;" *ngIf="addmap" (click)="RemoveMap()">Remove Map</button>
			  <button type="submit" ion-button class="btn-profile" (click)="CreateUpdateDefaultAddress()" style="margin-bottom: 5px;">save</button>
		  </div>
		  <h2 class="p-hd" *ngIf="addnewaddress" >New Address</h2>
		  <div class="profile-frm" *ngIf="addnewaddress" >
				<ion-list> 
						<ion-item>
						  <ion-input type="text" placeholder="Type of Address(Home,Work ...) *" [(ngModel)]="profileaddtype"></ion-input>
						</ion-item>
						<ion-item>
							  <ion-input type="number" placeholder="Mobile *" [(ngModel)]="profileaddMobile"></ion-input>
						</ion-item>
						<ion-item>
						  <ion-input type="text" placeholder="Province *" [(ngModel)]="profileaddProvince"></ion-input>
						</ion-item> 
						<ion-item>
						   <ion-input type="text" placeholder="City *" [(ngModel)]="profileaddCity"></ion-input>
						</ion-item>
						<ion-item style="border: 1px solid #b8b8b8 !important;width: 95%;margin-left: 3%;">
								<ion-label>Country *</ion-label>
								<ion-select [(ngModel)]="profileaddCountry">
								<ion-option *ngFor="let country of countriesall" value="{{country.countryId}}" [innerHTML]="country.country_name"> </ion-option>
								</ion-select> 
						  </ion-item> 
					   <ion-item>
						  <ion-input type="text" placeholder="Building *" [(ngModel)]="profileaddBuilding"></ion-input>
					   </ion-item>
					   <ion-item>
						  <ion-input type="text" placeholder="Postal Code " [(ngModel)]="profileaddpostalCode"></ion-input>
					   </ion-item> 
					   <ion-item>
						  <ion-input type="text" placeholder="Additional Information *" [(ngModel)]="profileaddaddressDetails"></ion-input>
					   </ion-item> 
					   <ion-item>
							<ion-label>Set as Default</ion-label>
							<ion-checkbox [(ngModel)]="profileaddadefault"></ion-checkbox>
						</ion-item> 
					</ion-list>
					<button type="submit" ion-button class="btn-profile"   style="margin-bottom: 5px;" *ngIf="!addmap" (click)="AddMap()">Add Map</button>
			        <button type="submit" ion-button class="btn-profile"   style="margin-bottom: 5px;" *ngIf="addmap" (click)="RemoveMap()">Remove Map</button> 
					<button type="submit" ion-button class="btn-profile" (click)="SaveNewAddress()" style="margin-bottom: 5px;">save</button>
					<button type="submit" ion-button class="btn-profile" (click)="DontAddNewAddress()" style="margin-bottom: 5px;">Cancel</button>
		  </div> 
		  <h2 class="p-hd" *ngIf="edditaddress" >Edit Address</h2>
		  <div class="profile-frm" *ngIf="edditaddress" >
				<ion-list> 
						<ion-item>
						  <ion-input type="text" placeholder="Type of Address(Home,Work ...) *" [(ngModel)]="profileedittype"></ion-input>
						</ion-item>
						<ion-item>
							  <ion-input type="number" placeholder="Mobile *" [(ngModel)]="profileeditMobile"></ion-input>
						</ion-item>
						<ion-item>
						  <ion-input type="text" placeholder="Province *" [(ngModel)]="profileeditProvince"></ion-input>
						</ion-item> 
						<ion-item>
						   <ion-input type="text" placeholder="City *" [(ngModel)]="profileeditCity"></ion-input>
						</ion-item>
						<ion-item style="border: 1px solid #b8b8b8 !important;width: 95%;margin-left: 3%;">
								<ion-label>Country *</ion-label>
								<ion-select [(ngModel)]="profileeditCountry">
								<ion-option *ngFor="let country of countriesall" value="{{country.countryId}}" [innerHTML]="country.country_name"> </ion-option>
								</ion-select> 
						  </ion-item> 
					   <ion-item>
						  <ion-input type="text" placeholder="Building *" [(ngModel)]="profileeditBuilding"></ion-input>
					   </ion-item>
					   <ion-item>
						  <ion-input type="text" placeholder="Postal Code" [(ngModel)]="profileeditpostalCode"></ion-input>
					   </ion-item> 
					   <ion-item>
						  <ion-input type="text" placeholder="Additional Information *" [(ngModel)]="profileeditaddressDetails"></ion-input>
					   </ion-item> 
					   <ion-item>
							<ion-label>Set as Default</ion-label>
							<ion-checkbox [(ngModel)]="profileeditadefault"></ion-checkbox>
						</ion-item> 
					</ion-list> 
					<button type="submit" ion-button class="btn-profile"   style="margin-bottom: 5px;" *ngIf="!addmap && addresstoedit && addresstoedit['lat'] && addresstoedit['lng'] && addresstoedit['lat'] != 0 && addresstoedit['lng'] != 0 " (click)="EditMap()">Edit Map</button>
					<button type="submit" ion-button class="btn-profile"   style="margin-bottom: 5px;" *ngIf="!addmap && addresstoedit && addresstoedit['lat'] && addresstoedit['lng'] && addresstoedit['lat'] == 0 && addresstoedit['lng'] == 0 " (click)="AddMap()">Add Map</button>
			        <button type="submit" ion-button class="btn-profile"   style="margin-bottom: 5px;" *ngIf="addmap" (click)="RemoveMap()">Remove Map</button> 
					<button type="submit" ion-button class="btn-profile"  style="margin-bottom: 5px;" (click)="UpdateAddress()">Update</button>
					<button type="submit" ion-button class="btn-profile" (click)="EditAddressCancel()" style="margin-bottom: 5px;">Cancel</button>
		  </div>
		  <h2 class="p-hd" *ngIf="addmap">Map</h2>
		  <div [ngClass]="addmap?'displaymap':'hidemap'" >
			  <div #map id="map" [ngClass]="addmap?'displaymap':'hidemap'" style="position: absolute;"></div> 
		  </div>
	</div>
</ion-content>

