<ion-header>
    <span class="top-menu" style="left:20px"><ion-icon><img menuToggle style="width: 27px;
            height: auto;padding-top: 2px;" src="../../assets/imgs/menu.png"/></ion-icon></span>
    <ion-navbar>
      <ion-title text-center>Product Details</ion-title> 
       <!-- <ion-icon ios="ios-person" md="ios-person-outline" class="person-icon" *ngIf="username!=''" ></ion-icon>  -->
       <span class="user" *ngIf="username!=''" >{{username | limitTo:8}}</span>
    </ion-navbar>
  </ion-header>
  
  <ion-content class="newhead">
      <div class="search-bg">
          <ion-searchbar placeholder="SEARCH IN HERE" (search)="Search($event)"></ion-searchbar>  
            <!-- <span class="top-menu"><ion-icon ios="ios-menu" md="md-menu" menuToggle></ion-icon></span> -->
            <!--<span class="top-menu"><ion-icon><img menuToggle style="width: 27px;
                height: auto;padding-top: 2px;" src="../../assets/imgs/menu.png"/></ion-icon></span>-->
            <span class="top-menu-2"> 
            <ion-select style="background: #e9e9e9;padding: 9px 3px;max-width: 45px;" [(ngModel)]="currency_id" (ionChange)="setCurrency()">
				<ion-option *ngFor="let c of currencies" value="{{c.id}}" [innerHTML]="c.text"> </ion-option>
			    </ion-select>
        </span>
            <span class="basket" (click)="GotoCart()"><ion-icon><img style="width: 27px;
                height: auto;padding-top: 2px;" src="../../assets/imgs/shopping-bag.png"/></ion-icon><ion-badge  class="nbbadge" style="position: absolute;
                right: 0px;
                background-color: #ed1c24;
                border-radius: 50%;
                font-size: 12px;
            ">{{countcart}}</ion-badge></span>
        </div> 
    <div class="fea"> 
      <ion-grid>
        <ion-row>
           <ion-col (click)="GotoProductnew()">
               <div class="topmenu-icons"><img src="assets/img/news-icon.png"/></div>
           </ion-col>
           <ion-col (click)="GotoProductpro()">
                <div class="topmenu-icons" style="padding:16px 10px;background-color:#ed1c24"><img src="assets/img/offers-icon.png"/></div>
            </ion-col>
            <ion-col (click)="GotoProductbest()" >
                <div class="topmenu-icons"><img src="assets/img/bestsellers-icon.png"/></div>
            </ion-col>
            <ion-col (click)="GotoBrands()">
                <div class="topmenu-icons"><img src="assets/img/branch-icon.png"/></div>
            </ion-col>
            <ion-col (click)="OpenModal()">
                <div class="topmenu-icons" style="padding:0;overflow:hidden;height:65px"><img src="assets/img/voucher-back.jpg" style="height:100%;padding:0"/></div>
            </ion-col>
       </ion-row>
    </ion-grid>
     </div>
      <ion-slides pager="true" class="topslider newslides" *ngIf="product  && product['productdetials'] && product['images'] && product['images'].length>0" >
      <ion-slide *ngIf="product && product['productdetials']" style="height:auto">
        <div class="saving"  *ngIf="product && product['productdetials'].productDiscount>0">-<span>{{product['productdetials'].productDiscount}}</span>%</div>
        <img src="https://mouawadmbs.com/uploads/images/{{product['productdetials'].productMainImage}}" style="height:100%"> 
        <div class="brandclass"  *ngIf="product && product['brand']">
          <img src="https://mouawadmbs.com/uploads/images/{{product['brand'].brandLogo}}" />
        </div>
      </ion-slide> 
      <ion-slide *ngFor="let img of product['images']" style="height:auto">
          <div class="saving"  *ngIf="product && product['productdetials'].productDiscount>0">-<span>{{product['productdetials'].productDiscount}}</span>%</div>
          <img src="https://mouawadmbs.com/uploads/images/{{img.productImageUrl}}" style="height:100%;"> 
          <div class="brandclass"  *ngIf="product && product['brand'] && product['brand'].brandLogo!=null">
              <img src="https://mouawadmbs.com/uploads/images/{{product['brand'].brandLogo}}" />
          </div>
      </ion-slide> 
    </ion-slides>
    <ion-slides pager="true" class="topslider newslides" *ngIf="product  && product['productdetials'] && product['images'] && product['images'].length==0" >
          <ion-slide *ngIf="product && product['productdetials']" style="height:auto">
            <div class="saving"  *ngIf="product && product['productdetials'].productDiscount>0">-<span>{{product['productdetials'].productDiscount}}</span>%</div>
            <img src="https://mouawadmbs.com/uploads/images/{{product['productdetials'].productMainImage}}" style="height:100%"> 
            <div class="brandclass"  *ngIf="product && product['brand'] && product['brand'].brandLogo!=null">
              <img src="https://mouawadmbs.com/uploads/images/{{product['brand'].brandLogo}}" />
            </div>
    </ion-slide> 
    <div *ngFor="let sizeimg of product['productsizes']">
      <ion-slide *ngIf="sizeimg.productSizeImage!=''" > 
          <div class="saving"  *ngIf="product && product['productdetials'].productDiscount>0">-<span>{{product['productdetials'].productDiscount}}</span>%</div>
        <img src="https://mouawadmbs.com/uploads/images/{{sizeimg.productSizeImage}}" style="height:100%;"> 
          <div class="brandclass"  *ngIf="product && product['brand'] && product['brand'].brandLogo!=null">
                <img src="https://mouawadmbs.com/uploads/images/{{product['brand'].brandLogo}}" />
              </div>
      </ion-slide>  
    </div>   
    </ion-slides>
    <div class="add_tome" >
      <h2 *ngIf="product && product['productdetials']" style="text-align: center">{{product['productdetials'].productName}}</h2>
      <p *ngIf="product && product['productdetials']" class="spaninner" [innerHtml]="product['productdetials'].productDescription"> </p><br/>
      <h5>Delivery Time: 2 to 3 days</h5>
      <ul>
        <li *ngIf="product && product['productsizes'] && product['productsizesdetials'] && product['productsizesdetials'].length>0 && product['productsizes'].length>0 && productsizemerg && productsizemerg.length>0">
          <span>Size</span> 
          <p> 
            <ion-row class="up-row">
              <ion-col col-5 [class.selectedsize]="i == selectedsize" *ngFor="let size of productsizemerg; let i = index" style="width: auto;
              height: auto;display: inline-block;border: 1px solid #c9c9c9;color: #9f9e9e;text-align: center;padding: 10px;font-weight: normal;" (click)="SelectSize(i,size.sizeId)"> 
              <p style="width:100%">R: {{size.productSizeReference}}</p><br/>
                <p style="color: #302d7e;width: 100% !important; 
                float: none;
                padding: 0;">{{size.sizeName}}</p><br/>
                  <span *ngIf="product && product['productdetials'].productDiscount>0"  style="width: 100% !important;color: #b90007;float: none;padding: 0">
                      <span *ngIf="users && users.is_Supplier != '1'"   style="text-decoration: line-through;width: 100% !important;color: #b90007;float: none;padding: 0;display: table-cell;font-size:10px">{{(size.productSizePrice * 1).toFixed(2)}}</span><br/> {{((size.productSizePrice-(size.productSizePrice*(product['productdetials'].productDiscount/100)))*currency.rate).toFixed(currency.decimal) |number}} {{currency.symbol}}
                      <span *ngIf="users && users.is_Supplier == '1'"    style="text-decoration: line-through;width: 100% !important;color: #b90007;float: none;padding: 0;display: table-cell;font-size:10px">{{(size.productSizePrice * 1).toFixed(2)}}</span><br/> {{((size.productSizePrice-(size.productSizePriceSupplier*(product['productdetials'].productDiscount/100)))*currency.rate).toFixed(currency.decimal) |number}} {{currency.symbol}}
                  </span>  
                  <span *ngIf="product && product['productdetials'].productDiscount=='0'"  style="width: 100% !important;color: #b90007;float: none;padding: 0;">  
                      <span *ngIf="users && users.is_Supplier != '1'"  style=" width: 100% !important;color: #b90007;float: none;padding: 0;display: table-cell;font-size:10px">{{(size.productSizePrice * 1 * currency.rate).toFixed(currency.decimal) |number}} {{currency.symbol}}</span> 
                      <span *ngIf="users && users.is_Supplier == '1'"  style=" width: 100% !important;color: #b90007;float: none;padding: 0;display: table-cell;font-size:10px">{{(size.productSizePriceSupplier * 1 * currency.rate).toFixed(currency.decimal) |number}} {{currency.symbol}}</span> 
                  </span>  
              </ion-col> 
           </ion-row>
          </p>
        </li>
        <li *ngIf="product && product['colors'] && product['colors'].length>0 ">
          <span>color </span>
          <p>
            <ion-row class="">
              <ion-col col-11 [class.selectedcolor]="i == selectedcolor" *ngFor="let color of colors; let i = index"  style="width: auto;
              height: auto;display: inline-block; text-align: center;padding: 5px;font-weight: normal;margin: 0.5%;" [style.color]="adjustTextColor(color.colorHexadecimal)? 'white': 'black'" [style.background]="color.colorHexadecimal" (click)="SelectColor(i,color.colorId)">  {{color.colorName}}
              </ion-col> 
           </ion-row>
          </p>
        </li>
        <li>
          <span>QTY </span>
          <p>
            <small><span (click)="Subtractquantity()">-</span>	<input type="number" value="{{selectedquantity}}" name="" disabled="true"><span (click)="Addquantity()">+</span></small>
          </p>
        </li>
      </ul>
    </div><!--add_tome-->
    <div class="add_page">
      <!-- <p><span class="tag">#yhkol21</span> <span class="littlemoda">Pink-50ml</span> <span class="littlemoda">Qty: 1</span> <span class="bgone">2000L.L.</span></p>
      <p><span class="tag">#yhkol21</span> <span class="littlemoda">Pink-50ml</span> <span class="littlemoda">Qty: 1</span> <span class="bgone">2000L.L.</span></p>
      <p><span class="tag">#yhkol21</span> <span class="littlemoda">Pink-50ml</span> <span class="littlemoda">Qty: 1</span> <span class="bgone">2000L.L.</span></p> -->
      <span>TOTAL </span><span *ngIf="product && product['productdetials'] && product['productdetials']['productVat']>0" style="color:red" >( * VAT included )</span>
      <!-- <h5>{{priceLL}} L.L.</h5> --> 
      <div class="burronto" style="text-align: left;">
        <h5 style="display: inline-block;
        vertical-align: sub;
        margin-right: 5%;
        margin-top: 0;font-size: 6vw;">{{pricedollars * currency.rate |number}} {{currency.symbol}}</h5>
        <button ion-button class="green" color="primary" (click)="AddToCart()" style="display:inline-block;margin-top: 0;"><img src="assets/imgs/shop.png">Add to cart</button>
      </div>
    </div><!--add_page-->
  
    <div class="burronto">
      <button ion-button color="primary" class="green" color="primary" style="    line-height: 15px;
      padding: 5%;
      margin-right: 10%;" (click)="GoToHome()">Continue<br/> Shopping</button>
      <button ion-button color="primary" (click)="PayNow()" style="    line-height: 15px;
      padding: 5%;font-size: 17px;">Proceed</button> 
    </div>
    <div class="burronto">
      <button ion-button color="primary" class="green" color="primary" style="    line-height: 15px;
      padding: 5%;" (click)="GoToShare(product)">Share</button>
    </div>
     <div class="b-sale" *ngIf="product && product['productrecommended'] && product['productrecommended'].length>0 ">
          <h4 style="text-transform: uppercase">recommended</h4>
          <!-- <a href="">see all <img src="assets/imgs/right.png"></a> -->
      </div>
      <div class="products"  *ngIf="product && product['productrecommended'] && product['productrecommended'].length>0 ">
      <ion-grid>
      <ion-row>
          <ion-col col-4 text-center *ngFor="let product of product['productrecommended'].slice(0, 3);" (click)="GotoProductDetials(product.productId)">
              <span class="pc">
                  <img src="https://mouawadmbs.com/uploads/images/{{product.productMainImage}}" style="height: 70px">
                  <!-- <h5>{{(product.productPrice *1 * currency.rate).toFixed(currency.decimal) |number}} {{currency.symbol}}</h5> -->
                  <small>{{product.productName}}</small>
                  <ul class="itz">
                      <!-- <li><ion-icon ios="ios-heart" md="md-heart"></ion-icon></li> -->
                      <li><ion-icon ios="ios-cart" md="ios-cart-outline"></ion-icon></li>
                  </ul>
              </span>
          </ion-col> 
      </ion-row>
      </ion-grid>
  </div>
  
  
  </ion-content>
  