page-productdetials {
    .selectedsize{
        background: #ffed00 !important;
    }
    .selectedcolor{
        border: 5px solid #c9c9c9;
    }
    .top-cols {
        padding: 1%;
    }

    .up-row ion-col,
    .down-row ion-col {
        border: 3px solid #ffed00;
        margin: 0.5%;
        color: #2f2c7e;

    }

    .up-row p {
        margin: auto;
        text-align: center;
        font-size: 10px;
        font-weight: 600;
    }
    .saving{
        background-color: #c62828;
        padding: 2px 1px;
        border-radius: 4px;
        z-index: 1;
        border-bottom: 1px solid #fff;
        -o-border-image: none;
        border-image: none;
        border-left: 1px solid #fff;
        border-top: 1px solid #fff;
        color: #fff;
        display: block;
        font-size: 15px;
        font-weight: 700;
        height: 24px;
        line-height: 20px;
        position: absolute;
        right: 5px;
        text-align: center;
        top: 1%;
        width: 40px;
    }
    .brandclass{ 
        padding: 2px 1px;
        z-index: 1;
        display: block;
        height: auto;
        position: absolute;
        right: 0px;
        bottom: -5%;
        width: auto;
    }
    .spaninner{
        ul  {
            padding-inline-start: 5% !important;
            li{
                list-style: inherit !important; 
                margin-bottom: 7px !important; 
                overflow: unset !important;
            }
        }

    }
}
