
<ion-header>
  <ion-navbar [hideBackButton]="hidback">
    <ion-title text-center>Receipt</ion-title> 
     <!-- <ion-icon ios="ios-person" md="ios-person-outline" class="person-icon" *ngIf="username!=''" ></ion-icon>  -->
     <span class="user" *ngIf="username!=''" >{{username | limitTo:8}}</span>
  </ion-navbar>
</ion-header>

<ion-content padding> 
  <div *ngIf="orders && orders.length>0" >
  <div *ngFor="let order of orders ; let i = index" [class.topdiv]="i == 0" >
    <div class="product-cart">
        <img src="https://mouawadmbs.com/uploads/images/{{products[i].productMainImage}}" >
        <h5>{{products[i].productName}}</h5> 
        <h5>{{(order.itemPrice * order.quantity * currency.rate).toFixed(currency.decimal) |number}} {{currency.symbol}}</h5>  
        <p><small>{{products[i].productCode}}</small></p>
          <ul class="qt-dv">
            <li>Qt <small><input readonly type="number" value="{{order.quantity}}"></small></li> 
            <li *ngIf="colors[i].length>0" >COLOR <ion-badge [style.background-color]="colors[i][0].colorHexadecimal" style="display: inline-block;"></ion-badge></li><br/><br/>
            <li *ngIf="sizes[i].length>0">SIZE <span>{{sizes[i][0].sizeName}}</span></li>
        </ul>
    </div>
    <hr> 
  </div>
    <h4 class="sumer">Detailed Order Summary</h4>
    <ul class="order-sum" style="margin-bottom: 5%;">
        <li *ngFor="let product of products ; let j = index">{{product.productName | limitTo:30}} 
            <span *ngIf="product.productVat && product.productVat>0" >{{((orders[j].quantity * orders[j].itemPrice - (((product.productVat*orders[j].quantity * orders[j].itemPrice)/100))) * currency.rate).toFixed(currency.decimal) |number}} {{currency.symbol}}</span>
            <span *ngIf="!product.productVat || product.productVat==0" >{{(orders[j].quantity * orders[j].itemPrice * currency.rate).toFixed(currency.decimal) |number}} {{currency.symbol}}</span>
          <ul style="list-style: none; display: flow-root;"> 
            <li *ngIf="product.productVat && product.productVat>0">
                <span>Vat : {{((product.productVat*orders[j].quantity * orders[j].itemPrice)/100 * currency.rate).toFixed(currency.decimal) |number}} {{currency.symbol}}</span>
            </li>
          </ul>
        </li> 
        <li class="line-br" *ngIf="discount">Voucher <span>-{{(loyaltyProgramPoints.amount * currency.rate).toFixed(currency.decimal) |number}} {{currency.symbol}}</span></li>
        <li class="line-br" *ngIf="totalinital>=100 && !purchase">Delivery Fees <span>FREE</span></li>
        <li class="line-br" *ngIf="totalinital<100 && !purchase">Delivery Fees <span>{{(deliveryCharge * currency.rate).toFixed(currency.decimal) |number}} {{currency.symbol}}</span></li>
        <li class="line-br" *ngIf="ppurchase && purchase['pending_decision'] == 'ACCEPT' && purchase['shipping_tax']">Shipping Fees <span>{{purchase['shipping_tax'] * currency.rate |number}} {{currency.symbol}}</span></li>
        <li class="line-br"><strong>Total {{currency.symbol}}</strong> <span><strong>{{totaldollars * currency.rate |number}} {{currency.symbol}}</strong></span></li>
        
    </ul> 
    <ion-grid *ngIf="showbutton && purchase ==''">
      <ion-row>
        <ion-col col-12>
            <div class="continue" style="    text-align: center;
    margin: auto;
    height: 6%;
    background: #2f2c7e;
    padding-top: 2%;
    color: #ffed00;line-height: 15px;
    padding: 5%;
    margin-right: 10%;
    width: 100%;
    height: 100%;margin-top: 0;font-size: 5vw;"  (click)="GoToHome()">CONTINUE SHOPPING</div>
        </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid *ngIf="purchase && purchase['pending_decision'] == 'ACCEPT'">
      <ion-row>
        <ion-col col-12>
            <div class="continue" style="    text-align: center;
            margin: auto;
            height: 6%;
            background: #2f2c7e;
            padding-top: 2%;
            color: #ffed00;line-height: 15px;
            padding: 5%;
            margin-right: 10%;
            width: 100%;
            height: 100%;margin-top: 0;font-size: 5vw;"  (click)="PayNow()">Pay Now</div>
        </ion-col>
        </ion-row>
    </ion-grid>
  </div>
</ion-content>
