<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header> 
    <ion-navbar>
        <ion-title text-center>My Orders</ion-title>
         <!-- <ion-icon ios="ios-person" md="ios-person-outline" class="person-icon" *ngIf="username!=''" ></ion-icon>  -->
         <span class="user" *ngIf="loggeduser && loggeduser!=''" >{{loggeduser['fullName']}}</span>

    </ion-navbar>

</ion-header>
<ion-content padding> 
    <div   *ngIf="orders && orders.length>0" >
        <div *ngFor="let order of orders ; let i = index" [class.topdiv]="i == 0"  (click)="GoToOrder(order)">
          <div > 
              <h5>PurchaseNumber:{{order.purchaseNumber}}</h5>
              <h5>Price:{{order.priceTotal|number}} {{order.currency=='USD'? '$': 'LL'}}</h5>
              <!-- <h5>Response:{{order.response}}</h5>  -->
              <!-- <p><small>{{product["productselecteddetials"].productCode}}</small></p> -->
              <!-- <ul class="qt-dv">
                  <li>Qt <small><input readonly type="number" value="{{product.productselectedquantity}}"></small></li> 
                  <li *ngIf="product['productselectedcolor'].length>0" >COLOR <ion-badge [style.background-color]="product['productselectedcolor'][0].colorHexadecimal" style="    display: inline-block;"></ion-badge></li><br/><br/>
                  <li *ngIf="product['productselectedsize'].length>0">SIZE <span>{{product['productselectedsize'][0].sizeName}}</span></li>
              </ul> -->
          </div>
          <hr> 
        </div> 
        </div>
</ion-content>