<!--
  Generated template for the LoyalityPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
<span class="top-menu" style="left:20px"><ion-icon><img menuToggle style="width: 27px;
            height: auto;padding-top: 2px;" src="../../assets/imgs/menu.png"/></ion-icon></span>
    <ion-navbar>
      <ion-title text-center>Loyalty</ion-title>
       <!-- <ion-icon ios="ios-person" md="ios-person-outline" class="person-icon" *ngIf="username!=''" ></ion-icon>  -->
       <span class="user" *ngIf="username!=''" >{{username | limitTo:8}}</span>
    </ion-navbar>
  
  </ion-header>

<ion-content>
    <div class="search-bg">
        <ion-searchbar placeholder="SEARCH IN HERE" (search)="Search($event)"></ion-searchbar>  
          <!-- <span class="top-menu"><ion-icon ios="ios-menu" md="md-menu" menuToggle></ion-icon></span> -->
          <!--<span class="top-menu"><ion-icon><img menuToggle style="width: 27px;
              height: auto;padding-top: 2px;" src="../../assets/imgs/menu.png"/></ion-icon></span>-->
          <span class="top-menu-2"> 
                        <ion-select style="background: #e9e9e9;padding: 9px 3px;max-width: 45px;" [(ngModel)]="currency_id" (ionChange)="setCurrency()">
                            <ion-option *ngFor="let c of currencies" value="{{c.id}}" [innerHTML]="c.text"> </ion-option>
                        </ion-select>
                  </span>
          <span class="basket" (click)="GotoCart()"><ion-icon><img style="width: 27px;
              height: auto;padding-top: 2px;" src="../../assets/imgs/shopping-bag.png"/></ion-icon><ion-badge  class="nbbadge" style="position: absolute;
              right: 0px;
              background-color: #ed1c24;
              border-radius: 50%;
              font-size: 12px;
          ">{{countcart}}</ion-badge></span>
      </div>
<img src="assets/img/Banner.png">
<ion-grid padding>
  <ion-row style="text-align: center;">
    <p style="color: #302c7e;
    font-size: 18px;
    font-weight: bold;">THE MORE YOU SHOP, THE MORE POINTS YOU EARN <br/>
    <span style="font-size: 13px;
    color: black;
    opacity: 0.5;">HOW DOES IT WORK? </span></p>
  </ion-row>
  <ion-row>
    <ion-col col-4 style="text-align: center;">
      <img src="assets/img/shop.png" style="width: 75px;height: 65px;"/><br/>
      <p style="color: black;font-weight:bold">Join & Shop</p>
    </ion-col>
    <ion-col col-4 style="text-align: center;">
      <img src="assets/img/shop1.png" style="width: 75px;height: 65px;"/>
      <p style="color: black;font-weight:bold">Earn</p>
    </ion-col>
    <ion-col col-4 style="text-align: center;">
      <img src="assets/img/redeem.png" style="width: 75px;height: 65px;"/>
      <p style="color: black;font-weight:bold">Redeem</p>
    </ion-col>
  </ion-row>
 
</ion-grid>
<ion-grid padding>
    <ion-row style="text-align: center;">
        <p style="color: #302c7e;
        font-size: 18px;
        font-weight: bold;">EARNING POINTS <br/>
        <span style="font-size: 13px;
        color: black;
        opacity: 0.5;">EARN POINTS FOR DOING ANY OF THE FOLLOWING </span></p>
      </ion-row>
    <ion-row>
        <ion-col col-6 style="text-align: center;background: #ffed00;">
            <img src="assets/img/Icon3.png" style="width: 75px;height: 65px;"/>
            <p style="color: black;font-weight:bold">+100pts</p>
              <p style="color: #302c7e;">SIGN UP</p>
              <p>CREATE AN ACCOUNT</p>
          </ion-col>
          <ion-col col-6 style="text-align: center">
              <img src="assets/img/icon4.png" style="width: 75px;height: 65px;"/>
              <p style="color: black;font-weight:bold">+5pts</p>
                <p style="color: #302c7e;">INVITE</p>
                <p>INVITE/SHARE APPLICATION ON FACEBOOK,INSTAGRAM,EMAIL ...</p>
            </ion-col>
    </ion-row>
    <ion-row>
        <!-- <ion-col col-6 style="text-align: center">
            <img src="assets/img/icon.png" style="width: 75px;height: 65px;"/>
            <p style="color: black;font-weight:bold">+10pts</p>
              <p style="color: #302c7e;">SHARE</p>
              <p>SHARE ON FACEBOOK,INSTAGRAM</p>
          </ion-col> -->
          <ion-col col-12 style="text-align: center">
              <img src="assets/img/Icon2.png" style="width: 75px;height: 65px;"/>
              <p style="color: black;font-weight:bold">+1pts</p>
                <p style="color: #302c7e;">SHOP</p>
                <p>FOR EACH {{1*currency.rate|number:0}}{{currency.symbol}} SPENT</p>
            </ion-col>
    </ion-row>
    <ion-row>
        <ion-col style="text-align: center;">
            <button ion-button class="btn-profile" (click)="ShareApp()">Earn Points</button>
        </ion-col>
      </ion-row>
</ion-grid>
<ion-grid padding>
    <ion-row style="text-align: center;">
        <ion-col col-12>
            <p style="color: #302c7e;
            font-size: 18px;
            font-weight: bold;">REDEEM YOUR POINTS<br/>
            <span style="font-size: 13px;
            color: black;
            opacity: 0.5;">COLLECT POINTS AND GET REAL DISCOUNTS </span></p>
        </ion-col>
      </ion-row>
      <ion-row style="text-align: center;background-color: #eeeeee;">
        <ion-col> 
            <p style="font-size: 20px;">{{loyaltyProgramPoints.points}} pts. ={{loyaltyProgramPoints.amount*currency.rate|number:0}}{{currency.symbol}}</p>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="codes && codes.length>0" >
        <ion-col col-12 style="text-align: center;">
          <span style="color: #302c7e;
          font-size: 18px;
          font-weight: bold;"><br/>You have {{codes.length}} rewards</span>
        </ion-col>
      </ion-row>
      <!--<ion-row>
          <ion-col style="text-align: center;">
              <button ion-button class="btn-profile" (click)="RedeemPoint()">REDEEM YOUR POINTS</button>
          </ion-col>
        </ion-row>-->
      <!-- <ion-row style="text-align: center" *ngIf="codes && codes.length>0" >
          <ion-col> 
             <ion-grid>
               <ion-row *ngFor="let item of codes"  style="text-align: center;background-color: #eeeeee;">
                  <ion-col style="text-align: center;"> 
                      <p style="font-size: 15px;"> Code : {{item.redeemDiscountCode}}</p>
                  </ion-col> 
               </ion-row>
             </ion-grid>
          </ion-col>
      </ion-row> -->
</ion-grid>
<ion-grid>
  <ion-row>
    <ion-col col-12 style="text-align: center;"> 
      <p style="color: #302c7e;
      font-size: 18px;
    font-weight: bold;">YOUR POINTS: {{userpoints}}<br/> </p>
    </ion-col>
  </ion-row>
  <ion-row *ngFor="let userpointslog of userpointslogs; let i = index" >
    <ion-col col-1>
      <span style="font-size: 13px;
      color: #302c7e;
      opacity: 0.5;">{{i+1}} </span>
    </ion-col>
    <ion-col col-11> 
      <span style="font-size: 13px;
      color: black;
      opacity: 0.5;">Date of Earn: {{userpointslog.earnDate}} </span><br/>
      <span style="font-size: 13px;
       color: black;
       opacity: 0.5;">Type of Earn: {{userpointslog.earnType}} </span><br/>
      <span style="font-size: 13px;
       color: #302c7e;
       opacity: 0.5;">Number of Points: {{userpointslog.earnNbPoint}} </span>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
