page-tabs {
    .tab-button-text {
        font-family: 'Avenir-45' !important;
        text-transform: uppercase !important;
        color:white !important;
    }
    .ion-md-home:before {
        content: url("../../assets/imgs/house-tabs.png") !important; 
    } 
    .ion-md-information-circle:before {
        content: url("../../assets/imgs/info-tab.png") !important; 
    } 
    .ion-md-person:before {
        content: url("../../assets/imgs/user-tab.png") !important; 
    }  
    .ion-md-basket:before {
        content: url("../../assets/imgs/shopping-bag (1).png") !important;  
    } 
    .ion-md-star:before {
        content: url("../../assets/imgs/more.png") !important;  
    }   
}
