<ion-tabs #myTabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="About" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="My Account" tabIcon="person"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="My Cart" tabIcon="basket"></ion-tab>
  <ion-tab  tabTitle="More" tabIcon="star" (ionSelect)="OpenMenu()"></ion-tab>
</ion-tabs>