<!--
  Generated template for the TeamPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
<span class="top-menu"><ion-icon><img menuToggle style="width: 27px;
            height: auto;padding-top: 2px;" src="../../assets/imgs/menu.png"/></ion-icon></span>
  <ion-navbar>
    <ion-title text-center>Team</ion-title>
    
<ion-icon ios="ios-person" md="ios-person-outline" class="person-icon"></ion-icon> 
    <span class="user">HELLO <br>MR. HICHAM</span>
  </ion-navbar>

</ion-header>


<ion-content>

    <div class="search-bg">
      <ion-searchbar placeholder="SEARCH IN HERE"></ion-searchbar>  
        <span class="top-menu"><ion-icon ios="ios-menu" md="md-menu"  menuToggle></ion-icon></span>
        <span class="basket"><ion-icon ios="ios-basket" md="ios-basket"></ion-icon></span>
    </div>
      <img src="assets/imgs/team-banner.jpg">
    <div class="content">
 <p>Originally the term stationery referred to all products sold by a stationer, whose name indicated that his book shop was on a fixed spot, usually near a university, and permanent.</p>
    </div>  
    
    
    
    
    
    
    
    
    
      <div class="team-dv">
		<ion-list>
			<ion-item class="dgf">
				<ion-input type="text" placeholder="Full Name"></ion-input>
			</ion-item>
     
			<ion-item>
				<ion-input type="email" placeholder="Email Address"></ion-input>
			</ion-item>
			<ion-item>
				<ion-input type="number" placeholder="Mobile"></ion-input>
			</ion-item>
			<ion-item>
				<ion-input type="text" placeholder="Position"></ion-input>
			</ion-item> 
            <ion-item  > 
              <label>
                <input type="file" (change)="selectFileToUpload($event)"  />
                Add Files
              </label>
            </ion-item>
		</ion-list> 
	 </div>
    
     
    <button type="submit" ion-button class="btn-profile team-btn" (click)="SaveApplicant()">Apply Now</button>
    
    
</ion-content>
