<ion-header>
    <span class="top-menu"><ion-icon><img menuToggle style="width: 27px;
            height: auto;padding-top: 2px;" src="../../assets/imgs/menu.png"/></ion-icon></span>
  <ion-navbar no-border-bottom>
    <ion-title text-center home-txt> 
        <h3 class="hometiel"><strong>MOUAWAD</strong>Books & Stationery s.a.r.l</h3>
     </ion-title> 
  </ion-navbar>  
</ion-header>


<ion-content class="newhead2">
    <div class="search-bg">
      <ion-searchbar placeholder="SEARCH IN HERE" (search)="Search($event)"></ion-searchbar>  
        <!-- <span class="top-menu"><ion-icon ios="ios-menu" md="md-menu" menuToggle></ion-icon></span> -->
        
        <span class="top-menu-2"> 
            <ion-select style="background: #e9e9e9;padding: 9px 3px;max-width: 45px" [(ngModel)]="currency_id" (ionChange)="setCurrency()">
				<ion-option *ngFor="let c of currencies" value="{{c.id}}" [innerHTML]="c.text"> </ion-option>
			    </ion-select>
        </span>
        <span class="basket" (click)="GotoCart()"><ion-icon><img style="width: 27px;
            height: auto;padding-top: 2px;" src="../../assets/imgs/shopping-bag.png"/></ion-icon><ion-badge  class="nbbadge" style="position: absolute;
            right: 0px;
            background-color: #ed1c24;
            border-radius: 50%;
            font-size: 12px;
        ">{{countcart}}</ion-badge></span>
    </div>
<!-- <ion-slides pager="true" class="topslider" *ngIf="banners && banners.length>0" autoplay="5000" loop="true" speed="300">
  <ion-slide *ngFor="let banner of banners" class="topslide" (click)="GoToSubCategories(banner)" >
      <img src="https://mouawadmbs.com/uploads/images/{{banner.categoryImage}}" style="position: relative;" />
      <div style="position: absolute;top: 70%;left: 19%;background-color: whitesmoke;width: 65%;min-height: 20%;border-radius: 5px">
          <p style=" color: #302d7e; margin: 5px;">{{banner.categoryName}}</p> 
      </div>
      <button ion-button color="primary" style="font-family: 'Avenir-45' !important;"><img src="assets/imgs/home.png" style="margin-top:-3px">SHOP NOW</button>
  </ion-slide> 
</ion-slides> -->

   
<div class="fea"> 
   <ion-grid>
       <ion-row>
           <ion-col (click)="GotoProductnew()">
               <div class="topmenu-icons"><img src="assets/img/news-icon.png"/></div>
           </ion-col>
           <ion-col (click)="GotoProductpro()">
                <div class="topmenu-icons" style="padding:16px 10px;background-color:#ed1c24"><img src="assets/img/offers-icon.png"/></div>
            </ion-col>
            <ion-col (click)="GotoProductbest()" >
                <div class="topmenu-icons"><img src="assets/img/bestsellers-icon.png"/></div>
            </ion-col>
            <ion-col (click)="GotoBrands()">
                <div class="topmenu-icons"><img src="assets/img/branch-icon.png"/></div>
            </ion-col>
            <ion-col (click)="OpenModal()">
                <div class="topmenu-icons" style="padding:0;overflow:hidden"><img src="assets/img/voucher-back.jpg" style="height:100%;padding:0"/></div>
            </ion-col>
       </ion-row>
   </ion-grid>
</div>
<ion-grid *ngIf="categories && categories.length>0">
  <ion-row class="cat-sec">
      <ion-col col-12>
        <h4>SHOP BY CATEGORIES <ion-icon><img src="../../assets/imgs/fastforward.png" style="width:11px"/></ion-icon></h4>
      </ion-col>
      <ion-col col-12 *ngFor="let category of categories" (click)="GoToSubCategories(category)"> 
      <!-- <img src="https://mouawadmbs.com/uploads/images/{{category.categoryImage}}" style="height: auto;
      width: 100%;
      max-height: 150px !important;"> 
        <span>{{category.categoryName}}</span> -->
        <div style="width: 100%;text-align: cente;height: auto;">
            <div style="width: 100%;
            height: auto;
            overflow: hidden;
            position: relative;
            text-align: center;">
                <img src="https://mouawadmbs.com/uploads/images/{{category.categoryImage}}" style="    width: 100%;
                height: auto;
                display: block;
                position: relative;
                cursor: pointer;
                transform: scale(1);
                -moz-transition: all 1s ease;
                -webkit-transition: all 1s ease;
                -o-transition: all 1s ease;
                transition: all 1s ease;"> 
                 <span style="position: absolute;
                 font-size: 6vw ;
                 top: 94%;
                 /* left: 31%; */
                 -webkit-transform: translate(-50%, -50%);
                 transform: translate(-50%, -50%);
                 background: rgba(47, 44, 126, 0.709804);
                 padding: 5px;
                 width: 100%;
                 text-align: left;
                 color: #fff;width: 100%;height: auto;">{{category.categoryName | limitTo:30 }}</span>
                <!-- <p style="color: #000;
                font-size: 22px;
                text-transform: uppercase;font-family: 'Avenir-45' !important">{{category.categoryName}}</p>
                <p style="color: #545353;
                font-size: 18px;font-family: 'Avenir-45' !important">
                    {{category.categoryDescription}}
                </p>
                <button *ngIf="category.isUnderConst!='1'"  style="font-family: 'Avenir-45' !important;font-size: 16px;
                color: #ffed00;
                width: 50%;
                height: auto;
                background-color: #2f2c7e;
                border: 1px solid #2f2c7e;
                text-align: center;
                padding: 0px 18px;
                border-radius: 5px;
                text-transform: uppercase;
                line-height: 45px;
                -moz-transition: all 1s ease;
                -webkit-transition: all 1s ease;
                -o-transition: all 1s ease;
                transition: all 1s ease;font-weight: bold;">SHOP NOW</button>
                <button *ngIf="category.isUnderConst =='1'"  style="font-family: 'Avenir-45' !important;font-size: 16px;
                color: #ffed00;
                width: 50%;
                height: auto;
                background-color: #2f2c7e;
                border: 1px solid #2f2c7e;
                text-align: center;
                padding: 0px 18px;
                border-radius: 5px;
                text-transform: uppercase;
                line-height: 45px;
                -moz-transition: all 1s ease;
                -webkit-transition: all 1s ease;
                -o-transition: all 1s ease;
                transition: all 1s ease;font-weight: bold;">Show video</button> -->
            </div>
        </div>
      </ion-col> 
  </ion-row>
</ion-grid>
    
<ion-grid class="shop-dv" *ngIf="brands && brands.length>0">
    <ion-row>
        <ion-col col-12 (click)="GotoBrands()">
            <h4 style="color: #2f2c7e;">SHOP BY BRANDS <ion-icon><img src="../../assets/imgs/fastforward.png" style="width:11px"/></ion-icon></h4>
        </ion-col>
        <ion-slides class="wedesh" loop="true" speed="300">
            <ion-slide *ngFor="let brand of brands" (click)="GotoSelectedBrand(brand.brandId)">
                    <img src="https://mouawadmbs.com/uploads/images/{{brand.brandImage}}" style="position: relative;height: 70px !important;"/>
                    <div style="    top: 50%;
                    width: 65%;
                    min-height: 20%;
                    border-radius: 5px;
                    right: 0px;
                    right: 0px;
                    position: absolute;
                    /* bottom: 13px; */
                    right: 0;
                    padding: 5px;
                    background-color: #fff;
                    z-index: 199999;
                    height: 50px;"> 
                            <img src="https://mouawadmbs.com/uploads/images/{{brand.brandLogo}}" style="    height: 30px !important;
                            display: block;
                            width: 100%;"/>
                    </div> 
                </ion-slide> 
            </ion-slides> 
    </ion-row>
</ion-grid>

    <div class="b-sale"  *ngIf="bestsellers && bestsellers.length>0">
        <h4>BEST SELLERS</h4>
    </div>
    
<div class="products" *ngIf="bestsellers && bestsellers.length>0">
    <ion-grid>
    <ion-row>
       <ion-col col-4 text-center *ngFor="let bestseller of bestsellers" >
            <span class="pc">
            <div class="saving" style="font-size: 1em;" *ngIf="bestseller.productDiscount>0">-<span>{{bestseller.productDiscount}}</span>%</div>
            <img (click)="GotoProductDetials(bestseller.productId)" src="https://mouawadmbs.com/uploads/images/{{bestseller.productMainImage}}" style="height: 75px"><br/>
            <!-- <h5 (click)="GotoProductDetials(bestseller.productId)" style="font-size: 15px;
            ">{{bestseller.productPrice}}$</h5> -->
            <!-- <h5 (click)="GotoProductDetials(bestseller.productId)" style="font-size: 15px;
            ">{{bestseller.productPrice * 1500}}L.L</h5> -->
            <small (click)="GotoProductDetials(bestseller.productId)" style="text-transform: capitalize">{{bestseller.productName | limitTo:10}}</small>
            <ul class="itz">
                <li (click)="AddToWishList(bestseller)" *ngIf="!bestseller.inwishlist" ><ion-icon ios="ios-heart" md="md-heart" ></ion-icon></li>
                <li (click)="RemoveWishList(bestseller)" *ngIf="bestseller.inwishlist" ><ion-icon ios="ios-heart" md="md-heart" style="color:red !important"></ion-icon></li>
                <li (click)="GotoProductDetials(bestseller.productId)"><ion-icon ios="ios-cart" md="ios-cart-outline"></ion-icon></li>
            </ul>
            </span>
        </ion-col> 
    </ion-row>
    </ion-grid>
</div>

<div class="promo" (click)="OpenModal()">
    <img src="assets/imgs/gf.jpg">
</div>
</ion-content>
