page-locate-us {
    .scroll {
        height: 100%
      }

      #map {
        width: 100%;
        height: 40%;
      }
      span,li{
        font-family: 'Avenir-45' !important
      }
      h4,p{
        font-family: 'Avenir-85' !important
      }
}
