<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
<span class="top-menu" style="left:20px"><ion-icon><img menuToggle style="width: 27px;
            height: auto;padding-top: 2px;" src="../../assets/imgs/menu.png"/></ion-icon></span>
    <ion-navbar>
      <ion-title text-center>Locate Us</ion-title>
       <!-- <ion-icon ios="ios-person" md="ios-person-outline" class="person-icon" *ngIf="username!=''" ></ion-icon>  -->
       <span class="user" *ngIf="username!=''" >{{username | limitTo:8}}</span>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content>
      <div class="search-bg">
          <ion-searchbar placeholder="SEARCH IN HERE" (search)="Search($event)"></ion-searchbar>  
            <!-- <span class="top-menu"><ion-icon ios="ios-menu" md="md-menu" menuToggle></ion-icon></span> -->
            <!--<span class="top-menu"><ion-icon><img menuToggle style="width: 27px;
                height: auto;padding-top: 2px;" src="../../assets/imgs/menu.png"/></ion-icon></span>-->
            <span class="top-menu-2"> 
                        <ion-select style="background: #e9e9e9;padding: 9px 3px;max-width: 45px;" [(ngModel)]="currency_id" (ionChange)="setCurrency()">
                            <ion-option *ngFor="let c of currencies" value="{{c.id}}" [innerHTML]="c.text"> </ion-option>
                        </ion-select>
                  </span>
            <span class="basket" (click)="GotoCart()"><ion-icon><img style="width: 27px;
                height: auto;padding-top: 2px;" src="../../assets/imgs/shopping-bag.png"/></ion-icon><ion-badge  class="nbbadge" style="position: absolute;
                right: 0px;
                background-color: #ed1c24;
                border-radius: 50%;
                font-size: 12px;
            ">{{countcart}}</ion-badge></span>
        </div> 
      <div #map id="map"></div>
      <div class="content">
 
        <h4>Mouawad Building, Red Cross Street, Jall Ed Dîb, Mont-Liban - Lebanon	: </h4>
        <ul>
            <li>
                t. +961 4 711 202	
            </li>
            <li>
                f. +961 4 711 206	
            </li>
            <li>
                e. info@mouawadmbs.com
            </li>
        </ul>
      </div>
  <div class="promo" (click)="OpenModal()">
      <img src="assets/imgs/gf.jpg">
  </div>
  </ion-content>
  