<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title text-center>My WishList</ion-title> 
        <!-- <ion-icon ios="ios-person" md="ios-person-outline" class="person-icon" *ngIf="username!=''" ></ion-icon>  -->
      <span class="user" *ngIf="username!=''" >{{username | limitTo:8}}</span>
    </ion-navbar>

</ion-header>
<ion-content padding> 
    <div   *ngIf="wishes && wishes.length>0" >
        <div *ngFor="let product of wishes ; let i = index" [class.topdiv]="i == 0" (click)="GotoProductDetials(product.productId)">
          <div class="product-cart" >
              <ion-icon name="close" style="float: right;" (click)="RemoveFromWishList(product)"></ion-icon>
              <img src="https://mouawadmbs.com/uploads/images/{{product.productMainImage}}" >
              <h5>{{product.productName}} </h5>
              <!-- <h5>{{product.productPrice * 1500}} L.L.</h5>  -->
              <p><small>{{product.productDescription}}</small></p>
              <!-- <ul class="qt-dv">
                  <li>Qt <small><input readonly type="number" value="{{product.productselectedquantity}}"></small></li> 
                  <li *ngIf="product['productselectedcolor'].length>0" >COLOR <ion-badge [style.background-color]="product['productselectedcolor'][0].colorHexadecimal" style="    display: inline-block;"></ion-badge></li><br/><br/>
                  <li *ngIf="product['productselectedsize'].length>0">SIZE <span>{{product['productselectedsize'][0].sizeName}}</span></li>
              </ul> -->
          </div>
          <hr> 
        </div> 
        </div>
</ion-content>