@font-face {
    font-family: 'Avenir-45';
    src: url('../assets/fonts/fonts/avenir_lt_45_book-webfont.ttf');
}
@font-face {
    font-family: 'Avenir-55';
    src: url('../assets/fonts/fonts/avenir_lt_55_oblique-webfont.ttf');
}
@font-face {
    font-family: 'Avenir-85';
    src: url('../assets/fonts/fonts/avenir_lt_85_heavy-webfont.ttf');
}
@font-face {
    font-family: 'Oswald-Regular';
    src: url('../assets/fonts/fonts/Oswald-Regular_0.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald-Light';
    src: url('../assets/fonts/fonts/Oswald-Light_0.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald-Bold';
    src: url('../assets/fonts/fonts/Oswald-Bold_0.ttf');
    font-weight: bolder;
    font-style: normal;
}