<ion-split-pane>

  <!-- loggedInMenu -->
  <ion-menu id="loggedInMenu" [content]="content">

<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title text-center home-txt> 
        <h3 class="hometiel"><strong>MOUAWAD</strong>Books & Stationery s.a.r.l</h3>
     </ion-title>
    <ion-icon name="close" class="person-close" menuClose></ion-icon> 
  </ion-navbar>  
</ion-header>

  <ion-content class="">
    <div class="user_in">
      <img src="assets/imgs/left.png">
      <h3 style="text-transform: capitalize" (click)="Gototab(2)">{{loggeduser.fullName}}</h3>
    </div><!--user_in--> 
    <ion-list class="newadin">
        <ion-item (click)="openPage('LoyalityPage')" style="background-color: rgba(237,28,36,1);" menuClose>
            <ion-label style="font-family: 'Avenir-45' !important;color: white;">
                Loyalty Program <br>
                <span *ngIf="loggeduser.userPoints===0"  style="font-size:11px;color: white;">({{loyaltyProgramPoints.points}} pts = {{loyaltyProgramPoints.amount}}$)</span><span *ngIf="loggeduser.userPoints>0"  style="font-size:11px;color: white;">Your Points: {{loggeduser.userPoints}}</span></ion-label>
        </ion-item>
      <ion-item (click)="Gototab(1)" menuClose>
         <ion-label style="font-family: 'Avenir-45' !important">About</ion-label>
       </ion-item>
       <ion-item (click)="openPage('LocateUsPage')" menuClose>
         <ion-label style="font-family: 'Avenir-45' !important">Locate Us</ion-label>
       </ion-item> 
       <ion-item>
         <ion-label  style="font-family: 'Avenir-45' !important" (click)="openPage('ContactusPage')" menuClose>Contact us</ion-label>
       </ion-item>
       <ion-item>
        <ion-label  style="font-family: 'Avenir-45' !important" (click)="openPage('PriceCheckingPage')" menuClose>Price Checking</ion-label>
      </ion-item>
       <ion-item>
           <ion-label  style="font-family: 'Avenir-45' !important" (click)="openPage('MyordersPage')" menuClose>My Orders</ion-label>
       </ion-item>
       <ion-item>
        <ion-label  style="font-family: 'Avenir-45' !important" (click)="openPage('OrderpendingPage')" menuClose>Pending Orders</ion-label>
       </ion-item>
       <ion-item>
           <ion-label  style="font-family: 'Avenir-45' !important" (click)="openPage('MywishlistPage')" menuClose>My WishList</ion-label>
       </ion-item>
       <!-- <ion-item>
         <ion-label (click)="openPage('JoinourteamPage')" menuClose>Join Our Team</ion-label>
       </ion-item> -->
    </ion-list>
    <div class="bgleft">
        <ion-grid *ngIf="categories && categories.length>0">
            <ion-row class="cat-sec"> 
                <ion-col col-4 *ngFor="let category of categories" (click)="GoToSubCategories(category)" menuClose> 
                <img src="https://mouawadmbs.com/uploads/images/{{category.categoryImage}}" style="    height: 75px;    width: 100% !important;"> 
                <span style="    width: 100%;
                height: 100%;
                /* padding-top: 30%; */
                color: #ffed00;
                font-weight: bold;
                font-size: 1em;
                text-transform: capitalize;
                position: absolute;
                left: 50%;
                top: 105%;">{{category.categoryName}}</span>
                </ion-col> 
            </ion-row>
        </ion-grid> 
    </div>
    <div class="imgbtom">
        <img src="assets/imgs/bottom.png">
    </div>
   
    <div class="user_in serach_in" (click)="Loggout()">
      <img src="assets/imgs/serach.png">
      <h3>Sign out</h3>
    </div><!--user_in-->
    <div class="social_in">
      <a style="    color: transparent" href="https://www.facebook.com/mouawadlibrary/?ref=br_rs">
        <img src="assets/imgs/face.png">
      </a>
      <a  style="    color: transparent" href="https://www.instagram.com/mouawadmbs/">
        <img src="assets/imgs/insta.png">
      </a>
      <a  style="    color: transparent" href="https://web.whatsapp.com/">
        <img src="assets/imgs/whats.png">
      </a>
    </div>
  </ion-content> 
  </ion-menu>

  <!-- logged in menu -->
  <ion-menu id="loggedOutMenu" [content]="content">

        <ion-header>
          <ion-navbar no-border-bottom>
            <ion-title text-center home-txt> 
                <h3 class="hometiel"><strong>MOUAWAD</strong>Books & Stationery s.a.r.l</h3>
             </ion-title>
            <ion-icon name="close" class="person-close" menuClose></ion-icon> 
          </ion-navbar>  
        </ion-header>
        
          <ion-content class="">
            <!-- <div class="user_in">
              <img src="assets/imgs/left.png">
              <h3>Mr. Hisham</h3>
            </div>user_in  -->
            <div class="bgleft">
                <ion-grid *ngIf="categories && categories.length>0">
                    <ion-row class="cat-sec"> 
                        <ion-col col-4 *ngFor="let category of categories" (click)="GoToSubCategories(category)" menuClose> 
                        <img src="https://mouawadmbs.com/uploads/images/{{category.categoryImage}}" style="    height: 75px; width: 100% !important;"> 
                          <span style="    width: 100%;
                          height: 100%;
                          /* padding-top: 30%; */
                          color: #ffed00;
                          font-weight: bold;
                          font-size: 1em;
                          text-transform: capitalize;
                          position: absolute;
                          left: 50%;
                          top: 105%;">{{category.categoryName}}</span>
                        </ion-col> 
                    </ion-row>
                </ion-grid>
            </div>
            <div class="imgbtom">
                <img src="assets/imgs/bottom.png">
            </div>
            <ion-list class="newadin">
                 <ion-item (click)="Gototab(1)" menuClose>
                    <ion-label style="font-family: 'Avenir-45' !important">About</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label (click)="openPage('LocateUsPage')" menuClose style="font-family: 'Avenir-45' !important">Locate Us</ion-label>
                  </ion-item>
                  <ion-item (click)="openPage('ContactusPage')" menuClose> 
                    <ion-label style="font-family: 'Avenir-45' !important">Contact us</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label  style="font-family: 'Avenir-45' !important" (click)="openPage('PriceCheckingPage')" menuClose>Price Checking</ion-label>
                  </ion-item>
                  <!-- <ion-item>
                    <ion-label (click)="openPage('JoinourteamPage')" menuClose>Join Our Team</ion-label>
                  </ion-item> -->
            </ion-list>
            <!-- <div class="user_in serach_in">
              <img src="assets/imgs/serach.png">
              <h3>Sign out</h3>
            </div>user_in -->
            <div class="social_in">
                <a style="color: transparent;" href="https://www.facebook.com/mouawadlibrary/?ref=br_rs">
                  <img src="assets/imgs/face.png">
                </a> 
                <a style="color: transparent;" href="https://www.instagram.com/mouawadmbs/">
                  <img src="assets/imgs/insta.png">
                </a>
                <a style="color: transparent;" href="https://web.whatsapp.com/">
                  <img src="assets/imgs/whats.png">
                </a>
            </div>
          </ion-content>
          </ion-menu>

  <!-- main navigation -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main name="app"></ion-nav>

</ion-split-pane>
