<ion-header>
    <span class="top-menu" style="left:20px"><ion-icon><img menuToggle style="width: 27px;
            height: auto;padding-top: 2px;" src="../../assets/imgs/menu.png"/></ion-icon></span>
    <ion-navbar>
        <ion-title text-center>Price Checking</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="searchedCodes && searchedCodes.length>0">
        <div *ngFor="let order of searchedCodes ; let i = index" [class.topdiv]="i == 0">
            <div>
                <h5>Product :{{order.description}}</h5>
                <h5 *ngIf="is_Supplier">Price:<span style="    float: right;
                    color: red;
                    font-weight: bold;">{{order.wholeSalePrice}} </span></h5>
                <h5 *ngIf="!is_Supplier">Price:<span style="    float: right;
                    color: red;
                    font-weight: bold;">{{order.retailSalePrice}}</span> </h5>
            </div>
            <hr>
        </div>
    </div>
    <div class="continue" style="    text-align: center;
      margin: auto;
      height: 6%;
      background: #2f2c7e;
      padding-top: 2%;
      color: #ffed00;line-height: 15px;
      padding: 7%;
      margin-right: 10%;
      width: 100%;
      height: 10vh;margin-top: 0;font-size: 5vw;" (click)="ScanMore()">Scan Barcode</div> <br/>
    <div style="font-size: 2rem;
    text-align: center;
    color: #2f2c7e;">Or Search by Code</div> <br/>
    <input type="text" style="    width: 100%;
    margin-bottom: 2%;
    padding: 3%;" [(ngModel)]="enteredcode">
    <div class="continue" style="    text-align: center;
      margin: auto;
      height: 6%;
      background: #2f2c7e;
      padding-top: 2%;
      color: #ffed00;line-height: 15px;
      padding: 7%;
      margin-right: 10%;
      width: 100%;
      height: 10vh;margin-top: 0;font-size: 5vw;" (click)="SearchbyCode()">Search Code</div>
</ion-content>