<ion-header>
    <span class="top-menu" style="left:20px"><ion-icon><img menuToggle style="width: 27px;
            height: auto;padding-top: 2px;" src="../../assets/imgs/menu.png"/></ion-icon></span>
    <ion-navbar>
      <ion-title text-center>Brands</ion-title> 
       <!-- <ion-icon ios="ios-person" md="ios-person-outline" class="person-icon" *ngIf="username!=''" ></ion-icon>  -->
       <span class="user" *ngIf="username!=''" >{{username | limitTo:8}}</span>
    </ion-navbar>
  </ion-header>
  
  <ion-content class="newhead">
      <div class="search-bg">
          <ion-searchbar placeholder="SEARCH IN HERE" (search)="Search($event)"></ion-searchbar>  
            <!-- <span class="top-menu"><ion-icon ios="ios-menu" md="md-menu" menuToggle></ion-icon></span> -->
            <!--<span class="top-menu"><ion-icon><img menuToggle style="width: 27px;
                height: auto;padding-top: 2px;" src="../../assets/imgs/menu.png"/></ion-icon></span>-->
            <span class="top-menu-2"> 
                        <ion-select style="background: #e9e9e9;padding: 9px 3px;max-width: 45px;" [(ngModel)]="currency_id" (ionChange)="setCurrency()">
                            <ion-option *ngFor="let c of currencies" value="{{c.id}}" [innerHTML]="c.text"> </ion-option>
                        </ion-select>
                  </span>
            <span class="basket" (click)="GotoCart()"><ion-icon><img style="width: 27px;
                height: auto;padding-top: 2px;" src="../../assets/imgs/shopping-bag.png"/></ion-icon><ion-badge  class="nbbadge" style="position: absolute;
                right: 0px;
                background-color: #ed1c24;
                border-radius: 50%;
                font-size: 12px;
            ">{{countcart}}</ion-badge></span>
        </div>
    <div class="fea"> 
      <ion-grid>
        <ion-row>
           <ion-col (click)="GotoProductnew()">
               <div class="topmenu-icons"><img src="assets/img/news-icon.png"/></div>
           </ion-col>
           <ion-col (click)="GotoProductpro()">
                <div class="topmenu-icons" style="padding:16px 10px;background-color:#ed1c24"><img src="assets/img/offers-icon.png"/></div>
            </ion-col>
            <ion-col (click)="GotoProductbest()" >
                <div class="topmenu-icons"><img src="assets/img/bestsellers-icon.png"/></div>
            </ion-col>
            <ion-col (click)="GotoBrands()">
                <div class="topmenu-icons"><img src="assets/img/branch-icon.png"/></div>
            </ion-col>
            <ion-col (click)="OpenModal()">
                <div class="topmenu-icons" style="padding:0;overflow:hidden"><img src="assets/img/voucher-back.jpg" style="height:100%;padding:0"/></div>
            </ion-col>
       </ion-row>
    </ion-grid>
     </div>
    <!--<div class="banner_store">
      <div class="stroptop_in">
        <img src="assets/imgs/top1.png">
        <p>New Arrivals</p>
      </div>
      <div class="stroptop_in" style="background:#ed1c24;">
        <img class="promos" src="assets/imgs/promo.png"  >
        <p>Promotions</p>
      </div>
      <div class="stroptop_in">
        <img src="assets/imgs/setting.png">
        <p>Best Sellers</p>
      </div>
      <div class="stroptop_in"  >
        <img src="assets/imgs/pen.png">
        <p>Brands</p>
      </div>
      <div class="stroptop_in"  style="background:#f4e600;">
        <img class="girgtd" src="assets/imgs/gieft.png">
        <p style="color:#333;" >Gift Vouchers</p>
      </div>
    </div><--banner_store-->
  <div class="products" *ngIf="brands && brands.length>0" >
      <ion-grid>
      <ion-row>
          <ion-col col-6 text-center *ngFor="let brand of brands"  (click)="GotoProduct(brand.brandId)" >
              <span class="">
                  <img src="https://mouawadmbs.com/uploads/images/{{brand.brandImage}}" style="position: relative;height: 110px !important;"/>
                    <div style="bottom: 0;
                    width: 60%;
                    min-height: -1%;
                    border-radius: 5px;
                    right: 0px;
                    right: 0px;
                    position: absolute;
                    /* bottom: 13px; */
                    right: 5%;
                    padding: 5px;
                    background-color: #fff;
                    z-index: 199999;
                    height: 40px;"> 
                            <img src="https://mouawadmbs.com/uploads/images/{{brand.brandLogo}}" style="    height: 30px !important;
                            display: block;
                            width: 100%;"/>
                    </div> 
              </span>
          </ion-col>
           
      </ion-row>
      </ion-grid>
  </div>
  
  </ion-content>
  