<div class="btn-close" (click)="closeModal()">
  <ion-icon name="close"></ion-icon>
</div>
<ion-content>

  <div class="top-cols">

    <ion-row>
      <ion-col style="text-align: center;">
       <img src="../../assets/img/icon-check.png" style="width:50px">
      </ion-col> 
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center">
        <p class="title" style="color: #2f2c7e;">
          <span class="big-title">Your Account Has Been Created!</span><br>
          <span class="small-title">Congratulations!</span> Your new account has been successfully created!
       </p>
      </ion-col>
    </ion-row>
  </div>

  <div style="background:#ffed00">
    <ion-grid>
      <ion-row>
        <ion-col style="text-align: center;">
          <img src="../../assets/img/invite-icon-active.png"/> 
          <p class="title" style="color: #2f2c7e;">
            <span class="big-title">+5 pts</span><br>
            <span class="small-title">INVITE</span>
          </p> 
        </ion-col>
        <ion-col style="text-align: center;">
          <img src="../../assets/img/share-icon-active.png"/>
          <p class="title" style="color: #2f2c7e;">
            <span class="big-title">+10 pts</span><br>
            <span class="small-title">SHARE</span>
          </p>
        </ion-col>
        <ion-col style="text-align: center;">
          <img src="../../assets/img/shop-icon-active.png"/>
          <p class="title" style="color: #2f2c7e;">
            <span class="big-title">+1 pts</span><br>
            <span class="small-title">SHOP</span>
          </p>
        </ion-col>
      </ion-row>
      
    </ion-grid>
  </div>

  <div>
    <ion-col style="text-align: center;">
        <p>You can now take advantage of member privileges to enhance your online shopping experience with us.<br/>
            If you have ANY questions about the operation of this online shop, please email the store owner.</p>
    </ion-col>
   
  </div>
</ion-content>