page-welcome-modal {
    background: rgba(0, 0, 0, 0.6);
    p{
        font-family: 'Avenir-85' !important;
    }
    span{
        font-family: 'Avenir-85' !important;
    }
    ion-content {
        height: 60%;
        width: 90%;
        margin-top: 35%;
        margin-left: 5%;
    }

    .top-cols {
        padding: 1%;
    }
    .continue {
        width: 60%;
        text-align: center;
        margin: auto;
        height: 6%;
        background: #2f2c7e;
        padding-top: 2%;
        color: #ffed00;
        margin-top: 2%;
    }
    .up-row ion-col,
    .down-row ion-col {
        border: 3px solid #ffed00;
        margin: 0.5%;
        color: #2f2c7e;

    }

    .up-row p {
        margin: auto;
        text-align: center;
        font-size: 10px;
        font-weight: 600;
    }

    .down-row p {
        margin: auto;
        text-align: center;
        font-size: 10px;
        font-weight: 600;
    }

    .up-row .first-p,
    .down-row .first-p {
        font-size: 22px;
    }


    .bot-area {
        border: 5px solid #ffed00;
        height: 45%;
    }


    .bot-area .left-side {
        width: 60%;
        height: 100%;
        float: left;
        border-right: 1px solid #2f2c7e;
        border-right-style: dashed;
        text-align: center;
    }

    .bot-area .right-side {
        width: 40%;
        height: 100%;
        float: right;
        text-align: center;
    }

    .left-head {
        text-align: center;
        margin: auto;
        border-top: 2px solid #2f2c7e;
        border-bottom: 2px solid #2f2c7e;
        width: 70%;
        margin-top: 8%;
        margin-bottom: 6%;
        padding: 2%;
        font-weight: 600;
        font-size: 17px;
        color: #2f2c7e;

    }

    .left-des {
        text-align: center;
        font-size: 8px;
        margin: auto;
        margin-top: 1%;
    }

    .star-div {
        text-align: center;
        margin-top: -1%;
    }

    .right-head {
        text-align: center;
        font-weight: 600;
        width: 63%;
        margin: auto;
        margin-top: 10%;
        border: 3px solid #ffed00;
        padding: 1%;

    }

    .right-head .p-one {

        margin: auto;
        font-size: 30px;
        font-weight: 600;
        color: #2f2c7e;

    }

    .right-head .p-two {

        margin: auto;
        font-size: 16px;
        font-weight: 600;
        color: #2f2c7e;

    }

    .bottom-two {
        width: 100%;
        height: 38%;
        background: #ffed00;
    }

    .sent-btn {
        margin: auto;
        background: #2f2c7e;
        width: 95%;
        text-align: center;
        /* margin-left: 2%; */
        /* margin-right: 46%; */
        height: 20%;
        padding-top: 1.5%;
        margin-top: 1.5%;
        color: #ffed00;
    }

    .print-p {
        margin: auto;
        float: right;
        text-align: center;
        font-size: 10px;
        text-decoration: underline;
        margin-top: 5%;
        float: left;
        margin-left: 2%;
    }

    .first-col {
        background: #ffed00;
    }

    .btn-close {
        height: 6%;
        width: 10%;
        background: #fff;
        border-radius: 150px;
        margin-top: 30%;
        z-index: 99999999999999999;
        float: right;
        text-align: center;
        position: absolute;
        right: 6px;
    }


    .btn-close ion-icon {
        font-size: 24px;
        text-align: center;
        margin-top: 16%;
    }

    .banner-bg {
        width: 65%;
        margin-top: -10%;
    }

    .banner-title {
        margin: auto;
        font-weight: 600;
        position: relative;
        top: 7%;
    }

    .banner-tit-des {
        margin: auto;
        position: relative;
        top: 7%;
        font-size: 8px;
    }

    .barcode-img {
        width: 80%;
        text-align: center;
        margin-top: 10%;
    }
}
