<ion-header>
    <ion-navbar>
      <ion-title text-center>Send Gift</ion-title> 
       <!-- <ion-icon ios="ios-person" md="ios-person-outline" class="person-icon" *ngIf="username!=''" ></ion-icon>  -->
       <span class="user" *ngIf="username!=''" >{{username | limitTo:8}}</span>
    </ion-navbar>
  </ion-header>
  
  <ion-content >
      <div class="search-bg">
          <ion-searchbar placeholder="SEARCH IN HERE" (search)="Search($event)"></ion-searchbar>  
            <!-- <span class="top-menu"><ion-icon ios="ios-menu" md="md-menu" menuToggle></ion-icon></span> -->
            <!--<span class="top-menu"><ion-icon><img menuToggle style="width: 27px;
              height: auto;padding-top: 2px;" src="../../assets/imgs/menu.png"/></ion-icon></span>-->
            <span class="top-menu-2"> 
                            <ion-select style="background: #e9e9e9;padding: 9px 3px;max-width: 45px;" [(ngModel)]="currency_id" (ionChange)="setCurrency()">
                                <ion-option *ngFor="let c of currencies" value="{{c.id}}" [innerHTML]="c.text"> </ion-option>
                            </ion-select>
                      </span>
            <span class="basket" (click)="GotoCart()"><ion-icon><img style="width: 27px;
              height: auto;padding-top: 2px;" src="../../assets/imgs/shopping-bag.png"/></ion-icon><ion-badge  class="nbbadge" style="position: absolute;
              right: 0px;
              background-color: #ed1c24;
              border-radius: 50%;
              font-size: 12px;
            ">{{countcart}}</ion-badge></span>
          </div>
    <div class="gr-pgbg" > 
        
        <!-- <h2 class="p-hd">My personal info</h2>
        <div class="profile-frm">
          <ion-list>
            <ion-item >
              <ion-input type="text" placeholder="Full Name" [(ngModel)]="profilefullname"></ion-input>
            </ion-item>  
            <ion-item  >
              <ion-input type="number" placeholder="Mobile" [(ngModel)]="profileMobile"></ion-input>
            </ion-item> 
          </ion-list> 
        </div> -->
        
        <!-- <h2 class="p-hd">Shipping Address</h2>
        <div class="profile-frm">
          <ion-list> 
            <ion-item>
              <ion-input type="text" placeholder="Address Details *" [(ngModel)]="profilehome"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" placeholder="Province *" [(ngModel)]="profileProvince"></ion-input>
            </ion-item> 
            <ion-item>
               <ion-input type="text" placeholder="City *" [(ngModel)]="profileCity"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="number" placeholder="Landline" [(ngModel)]="profilehomeline"></ion-input>
            </ion-item> 
          </ion-list> 
        </div> -->
        <h2 class="p-hd">How would you like to deliver this gift voucher?</h2><br/> 
        <div class="profile-frm">
          <ion-list radio-group [(ngModel)]="reciver">
            <ion-row>
              <ion-col col-12> 
                <ion-item >   
                  <ion-radio value="friend"></ion-radio>
                  <ion-label>
                    Send to a friend
                  </ion-label>
                </ion-item>
               </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12> 
                <ion-item > 
                  <ion-radio value="me"></ion-radio> 
                  <ion-label>
                    Send to me
                  </ion-label>
                </ion-item>
               </ion-col>
            </ion-row>
          </ion-list>
        </div>
        <h2 class="p-hd" *ngIf="reciver == 'friend'" >Friend Detials</h2><br/> 
        <div class="profile-frm" *ngIf="reciver == 'friend'">
          <ion-list> 
              <ion-item>
                  <ion-input type="text" placeholder="Friend's Name *" [(ngModel)]="friname"></ion-input>
               </ion-item> 
              <ion-item>
                  <ion-input type="text" placeholder="Friend's Email *" [(ngModel)]="friemail"></ion-input>
               </ion-item>  
          </ion-list> 
        </div>
        <button type="submit" ion-button class="btn-profile" (click)="Proceed()">Proceed</button>
    </div>
  </ion-content>
  
  
  