<ion-header>
    <span class="top-menu" style="left:20px"><ion-icon><img menuToggle style="width: 27px;
            height: auto;padding-top: 2px;" src="../../assets/imgs/menu.png"/></ion-icon></span>
    <ion-navbar>
      <ion-title text-center>{{subcategoryname}}</ion-title> 
       <!-- <ion-icon ios="ios-person" md="ios-person-outline" class="person-icon" *ngIf="username!=''" ></ion-icon>  -->
       <span class="user" *ngIf="username!=''" >{{username | limitTo:8}}</span>
    </ion-navbar>
  </ion-header>
  
  <ion-content class="newhead">
      <div class="search-bg">
          <ion-searchbar placeholder="SEARCH IN HERE" (search)="Search($event)"></ion-searchbar>  
            <!-- <span class="top-menu"><ion-icon ios="ios-menu" md="md-menu" menuToggle></ion-icon></span> -->
            <!--<span class="top-menu"><ion-icon><img menuToggle style="width: 27px;
                height: auto;padding-top: 2px;" src="../../assets/imgs/menu.png"/></ion-icon></span>-->
            <span class="top-menu-2"> 
                            <ion-select style="background: #e9e9e9;padding: 9px 3px;max-width: 45px;" [(ngModel)]="currency_id" (ionChange)="setCurrency()">
                                <ion-option *ngFor="let c of currencies" value="{{c.id}}" [innerHTML]="c.text"> </ion-option>
                            </ion-select>
                      </span>
            <span class="basket" (click)="GotoCart()"><ion-icon><img style="width: 27px;
                height: auto;padding-top: 2px;" src="../../assets/imgs/shopping-bag.png"/></ion-icon><ion-badge  class="nbbadge" style="position: absolute;
                right: 0px;
                background-color: #ed1c24;
                border-radius: 50%;
                font-size: 12px;
            ">{{countcart}}</ion-badge></span>
        </div>
    <div class="fea"> 
      <ion-grid>
        <ion-row>
           <ion-col (click)="GotoProductnew()">
               <div class="topmenu-icons"><img src="assets/img/news-icon.png"/></div>
           </ion-col>
           <ion-col (click)="GotoProductpro()">
                <div class="topmenu-icons" style="padding:16px 10px;background-color:#ed1c24"><img src="assets/img/offers-icon.png"/></div>
            </ion-col>
            <ion-col (click)="GotoProductbest()" >
                <div class="topmenu-icons"><img src="assets/img/bestsellers-icon.png"/></div>
            </ion-col>
            <ion-col (click)="GotoBrands()">
                <div class="topmenu-icons"><img src="assets/img/branch-icon.png"/></div>
            </ion-col>
            <ion-col (click)="OpenModal()">
                <div class="topmenu-icons" style="padding:0;overflow:hidden;height:65px"><img src="assets/img/voucher-back.jpg" style="height:100%;padding:0"/></div>
            </ion-col>
       </ion-row>
    </ion-grid>
     </div>
    <!--<div class="banner_store">
      <div class="stroptop_in">
        <img src="assets/imgs/top1.png">
        <p>New Arrivals</p>
      </div>
      <div class="stroptop_in" style="background:#ed1c24;">
        <img class="promos" src="assets/imgs/promo.png"  >
        <p>Promotions</p>
      </div>
      <div class="stroptop_in">
        <img src="assets/imgs/setting.png">
        <p>Best Sellers</p>
      </div>
      <div class="stroptop_in"  >
        <img src="assets/imgs/pen.png">
        <p>Brands</p>
      </div>
      <div class="stroptop_in"  style="background:#f4e600;">
        <img class="girgtd" src="assets/imgs/gieft.png">
        <p style="color:#333;" >Gift Vouchers</p>
      </div>
    </div><--banner_store-->
  <div class="products" *ngIf="subcateogriesdetials && subcateogriesdetials.length>0" >
      <ion-grid>
      <ion-row>
          <ion-col col-12 text-center *ngFor="let SubCategorydetial of subcateogriesdetials" (click)="GotoProduct(SubCategorydetial.categoryId,SubCategorydetial.categoryName)">
              <!-- <span class="">
              <img src="https://mouawadmbs.com/uploads/images/{{SubCategorydetial.categoryImage}}" style="    height: 100px;
              width: 100%;">
              <h5>{{SubCategorydetial.categoryName}}</h5>
              <small style="text-transform: capitalize">{{SubCategorydetial.categoryDescription}}</small> 
              </span> -->
              <div style="width: 100%;text-align: cente;height: auto;">
                <div style="width: 100%;
                height: auto;
                overflow: hidden;
                position: relative;
                text-align: center;">
                    <img src="https://mouawadmbs.com/uploads/images/{{SubCategorydetial.categoryImage}}" style="    width: 100%;
                    height: auto;
                    display: block;
                    position: relative;
                    cursor: pointer;
                    transform: scale(1);
                    -moz-transition: all 1s ease;
                    -webkit-transition: all 1s ease;
                    -o-transition: all 1s ease;
                    transition: all 1s ease;"> 
                    <span style="position: absolute;
                    font-size: 6vw ;
                    top: 94%;
                    /* left: 31%; */
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    background: rgba(47, 44, 126, 0.709804);
                    padding: 5px;
                    width: 100%;
                    text-align: left;
                    color: #fff;width: 100%;height: auto;">{{SubCategorydetial.categoryName | limitTo:30 }}</span>
                </div>
               </div>
          </ion-col>
           
      </ion-row>
      </ion-grid>
  </div>
  
  </ion-content>
  