page-shipping {
    .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
        border:none !important;
        box-shadow:none !important;
    }
    .item-input-has-focus .item-inner{
        border:none !important;
        box-shadow:none !important;
    }
    .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child{
        border:none !important;
        box-shadow:none !important;
    }
    .list-md .item-input.item-input-has-focus:last-child,
    .list-md .item-input.input-has-focus:last-child {
        border:none !important;
        box-shadow:none !important;
    }
    .checkbox-md .checkbox-icon,.checkbox-md .checkbox-checked  {
        border-color: green;
        background-color: transparent;
    }
    .checkbox-md .checkbox-checked .checkbox-inner{
        border-color:green !important
    }

    #map {
        width: 100%;
        // height: 40%;
        height: 250px;
      }
    h2{
        text-transform: uppercase;
        font-family: 'Avenir-85';
    }
    .displaymap{
        display: block;
    }
    .hidemap{
        display: none;
    }
}
