<ion-header>
  <ion-navbar>
    <ion-title text-center>My Shipping</ion-title> 
     <!-- <ion-icon ios="ios-person" md="ios-person-outline" class="person-icon" *ngIf="username!=''" ></ion-icon>  -->
	 <span class="user" *ngIf="username!=''" >{{username | limitTo:8}}</span>
  </ion-navbar>
</ion-header>

<ion-content >
		<div class="search-bg">
				<ion-searchbar placeholder="SEARCH IN HERE" (search)="Search($event)"></ion-searchbar>  
				  <!-- <span class="top-menu"><ion-icon ios="ios-menu" md="md-menu" menuToggle></ion-icon></span> -->
				  <!--<span class="top-menu"><ion-icon><img menuToggle style="width: 27px;
					  height: auto;padding-top: 2px;" src="../../assets/imgs/menu.png"/></ion-icon></span>-->
                                  <span class="top-menu-2"> 
            <ion-select style="background: #e9e9e9;padding: 9px 3px;max-width: 45px" [(ngModel)]="currency_id" (ionChange)="setCurrency()">
				<ion-option *ngFor="let c of currencies" value="{{c.id}}" [innerHTML]="c.text"> </ion-option>
			    </ion-select>
        </span>
				  <span class="basket" (click)="GotoCart()"><ion-icon><img style="width: 27px;
					  height: auto;padding-top: 2px;" src="../../assets/imgs/shopping-bag.png"/></ion-icon><ion-badge  class="nbbadge" style="position: absolute;
					  right: 0px;
					  background-color: #ed1c24;
					  border-radius: 50%;
					  font-size: 12px;
				  ">{{countcart}}</ion-badge></span>
			  </div>
			 
		  <div #map id="map" [ngClass]="addmap?'displaymap':'hidemap'"></div> 
		  <span [ngClass]="addmap?'displaymap':'hidemap'">Press on Map to add or edit location</span>
	<div class="gr-pgbg"  > 
		  
		  <!-- <h2 class="p-hd">My personal info</h2>
		  <div class="profile-frm">
			  <ion-list>
				  <ion-item >
					  <ion-input type="text" placeholder="Full Name" [(ngModel)]="profilefullname"></ion-input>
				  </ion-item>  
				  <ion-item  >
					  <ion-input type="number" placeholder="Mobile" [(ngModel)]="profileMobile"></ion-input>
				  </ion-item> 
			  </ion-list> 
		  </div> -->
		  
		  <h2 class="p-hd">Shipping Information</h2>
		  <div class="profile-frm" *ngIf="addresses && addresses.length>0" >
				<ion-list radio-group [(ngModel)]="selectedindex"> 
						<ion-item *ngFor="let address of addresses; let i = index" >
							<ion-grid>
								<ion-row>
								 <ion-col col-1>
									<ion-item style="padding-left: 0px;border-bottom: solid 0px black;">  
										<ion-radio (ionSelect)="SelectAddress(i, address)" value="{{i}}"></ion-radio>
									</ion-item>
								 </ion-col>
									<ion-col col-9 style="font-family: 'Avenir-45' !important;">
										Type :  {{address.addressType}} <br/>
										Mobile :  {{address.mobile}} <br/>
										Details :  {{address.addressDetails}} <br/>  
										<span style= "color:red;font-family: 'Avenir-45' !important;" *ngIf="address.isDefault === '1'" >
											Default Address
										</span>
									</ion-col>
									<ion-col col-1 (click)="EditAddress(address)">
										<ion-icon name="create"></ion-icon>
									</ion-col>
									<ion-col col-1 (click)="DeleteAddress(address)" *ngIf="address.isDefault === '0'">
										<ion-icon name="close"></ion-icon>
									</ion-col>
								</ion-row>
							</ion-grid>
						</ion-item>
					</ion-list> 
					<button type="submit" style="margin-bottom: 5px;" ion-button class="btn-profile" (click)="AddNewAddress()">+ Add New Address</button>
		  </div>
		  <div class="profile-frm"  *ngIf="(addresses && addresses.length==0) || addnewaddress">
				<ion-list> 
						<ion-item>
							<ion-label>
							 Receiver Name: {{profilefullname}}
							</ion-label>
						</ion-item>
						<ion-item>
							  <ion-input type="text" placeholder="Type of Address(Home,Work ...) *" [(ngModel)]="profileaddtype"></ion-input>
							  </ion-item>
							  <ion-item>
									<ion-input type="number" placeholder="Mobile *" [(ngModel)]="profileaddMobile"></ion-input>
							  </ion-item>
							  <ion-item>
								<ion-input type="text" placeholder="Province *" [(ngModel)]="profileaddProvince"></ion-input>
							  </ion-item> 
							  <ion-item>
								 <ion-input type="text" placeholder="City *" [(ngModel)]="profileaddCity"></ion-input>
							  </ion-item>
							  <ion-item style="border: 1px solid #b8b8b8 !important;width: 95%;margin-left: 3%;">
									  <ion-label>Country *</ion-label>
									  <ion-select [(ngModel)]="profileaddCountry">
									  <ion-option *ngFor="let country of countriesall" value="{{country.countryId}}" [innerHTML]="country.country_name"> </ion-option>
									  </ion-select> 
								</ion-item> 
							 <ion-item>
								<ion-input type="text" placeholder="Building *" [(ngModel)]="profileaddBuilding"></ion-input>
							 </ion-item>
							 <ion-item>
								<ion-input type="text" placeholder="Postal Code " [(ngModel)]="profileaddpostalCode"></ion-input>
							 </ion-item> 
							 <ion-item>
								<ion-input type="text" placeholder="Additional Information *" [(ngModel)]="profileaddaddressDetails"></ion-input>
							 </ion-item> 
							 <ion-item>
								  <ion-label>Set as Default</ion-label>
								  <ion-checkbox [(ngModel)]="profileaddadefault"></ion-checkbox>
							  </ion-item>  
							   
					</ion-list> 
					<button type="submit" ion-button class="btn-profile"   style="margin-bottom: 5px;" *ngIf="!addmap" (click)="AddMap()">Add Map</button>
					<button type="submit" ion-button class="btn-profile"   style="margin-bottom: 5px;" *ngIf="addmap" (click)="RemoveMap()">Remove Map</button>
					<button type="submit" ion-button class="btn-profile" (click)="SaveNewAddress()" style="margin-bottom: 5px;">Save</button>
					<button type="submit" *ngIf="addnewaddress" ion-button class="btn-profile" (click)="DontAddNewAddress()" style="margin-bottom: 5px;">Cancel</button>
		  </div>
		  <div class="profile-frm" *ngIf="edditaddress" >
				<ion-list> 
						<ion-item>
						  <ion-input type="text" placeholder="Type of Address(Home,Work ...) *" [(ngModel)]="profileedittype"></ion-input>
						</ion-item>
						<ion-item>
							  <ion-input type="number" placeholder="Mobile *" [(ngModel)]="profileeditMobile"></ion-input>
						</ion-item>
						<ion-item>
						  <ion-input type="text" placeholder="Province *" [(ngModel)]="profileeditProvince"></ion-input>
						</ion-item> 
						<ion-item>
						   <ion-input type="text" placeholder="City *" [(ngModel)]="profileeditCity"></ion-input>
						</ion-item>
						<ion-item style="border: 1px solid #b8b8b8 !important;width: 95%;margin-left: 3%;">
								<ion-label>Country *</ion-label>
								<ion-select [(ngModel)]="profileeditCountry">
								<ion-option *ngFor="let country of countriesall" value="{{country.countryId}}" [innerHTML]="country.country_name"> </ion-option>
								</ion-select> 
						  </ion-item> 
					   <ion-item>
						  <ion-input type="text" placeholder="Building *" [(ngModel)]="profileeditBuilding"></ion-input>
					   </ion-item>
					   <ion-item>
						  <ion-input type="text" placeholder="Postal Code" [(ngModel)]="profileeditpostalCode"></ion-input>
					   </ion-item> 
					   <ion-item>
						  <ion-input type="text" placeholder="Additional Information *" [(ngModel)]="profileeditaddressDetails"></ion-input>
					   </ion-item> 
					   <ion-item>
							<ion-label>Set as Default</ion-label>
							<ion-checkbox [(ngModel)]="profileeditadefault"></ion-checkbox>
						</ion-item> 
					</ion-list> 
					<button type="submit" ion-button class="btn-profile"   style="margin-bottom: 5px;" *ngIf="!addmap && addresstoedit && addresstoedit['lat'] && addresstoedit['lng'] && addresstoedit['lat'] != 0 && addresstoedit['lng'] != 0 " (click)="EditMap()">Edit Map</button>
					<button type="submit" ion-button class="btn-profile"   style="margin-bottom: 5px;" *ngIf="!addmap && addresstoedit && addresstoedit['lat'] && addresstoedit['lng'] && addresstoedit['lat'] == 0 && addresstoedit['lng'] == 0 " (click)="AddMap()">Add Map</button>
			        <button type="submit" ion-button class="btn-profile"   style="margin-bottom: 5px;" *ngIf="addmap" (click)="RemoveMap()">Remove Map</button> 
					<button type="submit" ion-button class="btn-profile"  style="margin-bottom: 5px;" (click)="UpdateAddress()">Update</button>
					<button type="submit" ion-button class="btn-profile" (click)="EditAddressCancel()" style="margin-bottom: 5px;">Cancel</button>
		  </div> 
		 
		  <h2 class="p-hd" *ngIf="address_country==123">Payment Method</h2><br/> 
		  <div class="profile-frm" *ngIf="address_country==123">
			  <ion-list> 
				<ion-item *ngIf="currency.id!=1">
					<ion-label>Credit or Debit Card</ion-label>
					<ion-checkbox [(ngModel)]="paymentcard" (ionChange)="paymentchangecard()"></ion-checkbox>
				</ion-item>
				<ion-item>
					<ion-label>Cash on delivery</ion-label>
					<ion-checkbox [(ngModel)]="paymentcash" (ionChange)="paymentchangecash()"></ion-checkbox>
				</ion-item>
			  </ion-list> 
		  </div>
		  <h2 class="p-hd">Order Summary</h2><br/> 
		  <div class="profile-frm">
		 
			  <ion-list> 
				<ion-item>
					<ion-label>Subtotal: <span style="float:right">{{totalintial | number}} {{currency.symbol}}</span></ion-label>
				</ion-item>
				<ion-item>
					<ion-label *ngIf="totalintial != total" >Delivery charge: <span style="float:right">{{(deliveryCharge).toFixed(currency.decimal) |number}} {{currency.symbol}}</span></ion-label>
					<ion-label *ngIf="totalintial == total" >Delivery charge: <span style="float:right">FREE</span></ion-label>
				</ion-item>
				<ion-item *ngIf="usecode" >
					<ion-label>Voucher : <span style="float:right">-{{loyaltyProgramPoints.amount  |number}} {{currency.symbol}}</span></ion-label>
				</ion-item>
				<ion-item>
					<ion-label *ngIf="!usecode">Total : <span style="float:right">{{total  |number}} {{currency.symbol}}</span></ion-label>
					<ion-label *ngIf="usecode">Total : <span style="float:right">{{((total -loyaltyProgramPoints.amount) ).toFixed(currency.decimal) |number}} {{currency.symbol}}</span></ion-label>
				</ion-item>
			  </ion-list> 
		  </div>   
		  <h2 class="p-hd" *ngIf="total>loyaltyProgramPoints.amount && codes.length>0" >Redeem Code</h2>
		  <div class="profile-frm" *ngIf="total>loyaltyProgramPoints.amount && codes.length>0">
			<ion-list> 
				<ion-item>
					<ion-label>Use my {{loyaltyProgramPoints.amount | number: 0}}{{currency.synbol}} voucher</ion-label>
					<ion-checkbox [(ngModel)]="usecode"></ion-checkbox>
				</ion-item>
			</ion-list>
		  </div> 
		  <button type="submit" ion-button class="btn-profile" (click)="UpdateProfile()">Place Order</button>
	</div>
	
</ion-content>


