<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
<span class="top-menu" style="left:25px"><ion-icon><img menuToggle style="width: 27px;
            height: auto;padding-top: 2px;" src="../../assets/imgs/menu.png"/></ion-icon></span>
    <ion-navbar>
      <p class="number" *ngIf="cart && cart.length>0" > {{countcart}}</p>
        <ion-title text-center>My Cart</ion-title>
       
         <!-- <ion-icon ios="ios-person" md="ios-person-outline" class="person-icon" *ngIf="username!=''" ></ion-icon>  -->
      <span class="user" *ngIf="loggeduser!=''" >{{loggeduser['fullName'] | limitTo:8}}</span>
        <!--<span class="user">Continue Shopping >></span> -->
    </ion-navbar>

</ion-header>
<ion-content > 
    <div class="search-bg">
                <ion-searchbar placeholder="SEARCH IN HERE" (search)="Search($event)"></ion-searchbar>  
                  <!-- <span class="top-menu"><ion-icon ios="ios-menu" md="md-menu" menuToggle></ion-icon></span> -->
                  <!--<span class="top-menu"><ion-icon><img menuToggle style="width: 27px;
                      height: auto;padding-top: 2px;" src="../../assets/imgs/menu.png"/></ion-icon></span>-->
                  <span class="top-menu-2"> 
                        <ion-select style="background: #e9e9e9;padding: 9px 3px;max-width: 45px;" [(ngModel)]="currency_id" (ionChange)="setCurrency()">
                            <ion-option *ngFor="let c of currencies" value="{{c.id}}" [innerHTML]="c.text"> </ion-option>
                        </ion-select>
                  </span>
                  <span class="basket" (click)="GotoCart()"><ion-icon><img style="width: 27px;
                      height: auto;padding-top: 2px;" src="../../assets/imgs/shopping-bag.png"/></ion-icon><ion-badge  class="nbbadge" style="position: absolute;
                      right: 0px;
                      background-color: #ed1c24;
                      border-radius: 50%;
                      font-size: 12px;
                  ">{{countcart}}</ion-badge></span>
              </div>
    
  <div *ngIf="cart && cart.length>0" padding>
      <ion-grid style="margin-bottom: 5%;padding: 0;">
          <ion-col style="padding: 0;" col-12> 
            <ion-item style="padding-left: 0px;border-bottom: solid 1px black;"> 
                <ion-label>Select all</ion-label>
                <ion-checkbox style="margin-left: 0px;" (ionChange)="SelectAll($event)" [(ngModel)]="selectallmodel"></ion-checkbox>
            </ion-item>
          </ion-col> 
        </ion-grid> 
  <div *ngFor="let product of cart ; let i = index" [class.topdiv]="i == 0" >
   <ion-grid style="margin-bottom: 5%;padding: 0;">
     <ion-col style="padding: 0;"> 
        <ion-checkbox [(checked)]="product.select"  (click)="Select(i)"></ion-checkbox>
     </ion-col> 
   </ion-grid>
    <div class="product-cart" >

        <ion-icon name="close" style="float: right;" (click)="RemoveItemFromCart(i)"></ion-icon>
        <img src="https://mouawadmbs.com/uploads/images/{{product['productselecteddetials'][0].productMainImage}}" >
        <h5>{{product["productselecteddetials"][0].productName}}</h5> 
        <h5>{{(product.productselectedpricedollars * product.productselectedquantity * currency.rate).toFixed(currency.decimal) |number}} {{currency.symbol}}</h5> 
        <p><small>(Unit Price: {{(product.productselectedpricedollars * 1 * currency.rate).toFixed(currency.decimal) |number}} {{currency.symbol}})</small></p>
        <p><small>{{product["productselecteddetials"][0].productCode}}</small></p> 
        <ul class="qt-dv">
            <!-- <li>Qt<small style="overflow: hidden;
              display: inline-block;
              border: 1px solid #ddd;
              padding: 3px 7px;
              color: #9f9e9e;"><span (click)="Subtractquantity()" style="width: auto;padding: 0px;font-size: 14px;color: #9f9e9e;">-</span><input type="number" value="{{product.productselectedquantity}}" name="" style="    color: #9f9e9e;float: left; border: none;width: 50px;text-align: center;"><span (click)="Addquantity()" style="width: auto;padding: 0px;font-size: 14px;color: #9f9e9e;">+</span></small></li> -->
            <li>Qt <small style="overflow: hidden;
              display: inline-block;
              border: 1px solid #ddd;
              padding: 3px 7px;
              color: #9f9e9e;"><span (click)="Subtractquantity(i)" style="width: auto;padding: 0px;font-size: 14px;color: #9f9e9e;float: left;border:none">-</span><input readonly type="number" value="{{product.productselectedquantity}}" name="" style="    color: #9f9e9e;float: left; border: none;width: 50px;text-align: center;"><span (click)="Addquantity(i)" style="width: auto;padding: 0px;font-size: 14px;color: #9f9e9e;float: right;border:none">+</span></small></li> 
            <li *ngIf="product['productselectedcolor'].length>0 && product['productselectedcolor'][0] && product['productselectedcolor'][0].colorHexadecimal" >COLOR <ion-badge [style.background-color]="product['productselectedcolor'][0].colorHexadecimal" style="display: inline-block;"></ion-badge></li><br/><br/>
            <li *ngIf="product['productselectedsize'].length>0 && product['productselectedsize'][0] && product['productselectedsize'][0].sizeName">SIZE <span>{{product['productselectedsize'][0].sizeName}}</span></li>
        </ul>
    </div>
    <hr> 
  </div>
    <h4 class="sumer">Order Summary</h4>
    <ul class="order-sum">
        <div  *ngFor="let productsum of cart" >
        <li *ngIf="productsum.select" >{{productsum['productselecteddetials'][0].productName | limitTo:7}} <span>{{(productsum.productselectedpricedollars *productsum.productselectedquantity* currency.rate).toFixed(currency.decimal) |number}} {{currency.symbol}}</span></li> 
        </div>
        <li class="line-br" *ngIf="totalinital>=100 && totalinital>0">Delivery Fees <span>FREE</span></li>
        <li class="line-br" *ngIf="totalinital<100 && totalinital>0" >Delivery Fees <span>{{deliveryCharge * currency.rate |number}} {{currency.symbol}}</span></li>
        <!-- <li>Taxes <span>11%</span></li> -->
        <li class="line-br"><strong>Total {{currency.symbol}}</strong> <span><strong>{{totaldollars * currency.rate |number}} {{currency.symbol}}</strong></span></li>
        <!-- <li class="line-br"><strong>Total LL</strong> <span><strong>{{totalLL}} L.L.</strong></span></li> -->
     
    </ul>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
            <div class="continue" style="line-height: 15px;
    padding: 5%;
    margin-right: 10%;
    width: 100%;
    height: 100%;margin-top: 0;"  (click)="GoToHome()">CONTINUE<br/> SHOPPING</div>
        </ion-col>
        <ion-col col-6>
            <div class="proceed" style="    width: 100%;
    text-align: center;
    margin: auto;
    height: 6%;
    background: red;
    padding-top: 0;height: 100%;display: flex;    align-items: center;
    justify-content: center;
    color: #fff;font-weight: bold;" (click)="ProccessedtoCheckout()"><span>PROCEED</span></div> 
        </ion-col>
        
      </ion-row>
    </ion-grid>
    
    
  </div>
  
</ion-content>