page-mycart {
    .proceed {
        width: 60%;
        text-align: center;
        margin: auto;
        height: 6%;
        background: red;
        padding-top: 2%;
        color: #fff;
    }
    li small{
        vertical-align: middle;
    }
    .continue {
        width: 60%;
        text-align: center;
        margin: auto;
        height: 6%;
        background: #2f2c7e;
        padding-top: 2%;
        color: #ffed00;
        margin-top: 2%;
    }

    .user {
        // margin-top: 2%;
        font-weight: 400;
    }

    .number {
        width: 25px;
        height: 25px;
        text-align: center;
        background: red;
        color: #fff;
        font-weight: 500;
        border-radius: 50%;
        position: absolute;
        top: -20%;
        /* right: 33%; */
        padding: 1%;
    }
    .topdiv{
        padding-top: 1%;
    }
    .checkbox-md .checkbox-icon,.checkbox-md .checkbox-checked  {
        border-color: green;
        background-color: transparent;
    }
    .checkbox-md .checkbox-checked .checkbox-inner{
        border-color:green !important
    }
}
