<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <span class="top-menu"><ion-icon><img menuToggle style="width: 27px;
            height: auto;padding-top: 2px;" src="../../assets/imgs/menu.png"/></ion-icon></span>
    <ion-navbar>
        <ion-title text-center>About</ion-title>
        <!-- <ion-icon ios="ios-person" md="ios-person-outline" class="person-icon" *ngIf="username!=''" ></ion-icon>  -->
        <span class="user" *ngIf="loggeduser!=''">{{loggeduser['fullName'] | limitTo:8}}</span>
    </ion-navbar>

</ion-header>


<ion-content>
    <div class="search-bg">
        <ion-searchbar placeholder="SEARCH IN HERE" (search)="Search($event)"></ion-searchbar>
        <!-- <span class="top-menu"><ion-icon ios="ios-menu" md="md-menu" menuToggle></ion-icon></span> -->
        <!--<span class="top-menu"><ion-icon><img menuToggle style="width: 27px;
                      height: auto;padding-top: 2px;" src="../../assets/imgs/menu.png"/></ion-icon></span>-->
        <span class="top-menu-2"> 
                        <ion-select style="background: #e9e9e9;padding: 9px 3px;max-width: 45px;" [(ngModel)]="currency_id" (ionChange)="setCurrency()">
                            <ion-option *ngFor="let c of currencies" value="{{c.id}}" [innerHTML]="c.text"> </ion-option>
                        </ion-select>
                  </span>
        <span class="basket" (click)="GotoCart()"><ion-icon><img style="width: 27px;
                      height: auto;padding-top: 2px;" src="../../assets/imgs/shopping-bag.png"/></ion-icon><ion-badge  class="nbbadge" style="position: absolute;
                      right: 0px;
                      background-color: #ed1c24;
                      border-radius: 50%;
                      font-size: 12px;
                  ">{{countcart}}</ion-badge></span>
    </div>
    <img src="assets/imgs/about-banner.jpg">
    <div class="content">
        <p>It all started on the 1st of July 1964, at 8:00 a.m. in the morning, when a single young ambitious man, Mouawad started his business journey, in Gemmayze. Couple of years later, he moved to Bauchrieh, facing St Josef hospital, and officially established
            “Librairie Gaby”. His business grew day after day with the help and support of his wife Mona Kfoury. In 2000, we expanded our business and opened our store in Jal El Dib and later “Librairie Gaby” became “MOUAWAD Books & Stationery sarl”</p>
        <h1>Our Mission:</h1>
        <p>By expanding our wide basket of products and services we aim to satisfy the needs of all our customers and makes shopping easier than ever:</p>
        <ul>
            <li>
                To get Kids and students ready and well equipped before their school or university first day.
            </li>
            <li>
                To offer Artists and amateurs a huge selection of colors, accessories and hobby material enabling them achieve their masterpieces.
            </li>
            <li>
                To help all of you better organize your documents by offering professional range of stationery and office supplies.
            </li>
        </ul>
        <h1>Leadership: </h1>
        <ul>
            <li>
                Hicham M. MOUAWAD Chairman
            </li>
            <li>
                Hady M. MOUAWAD CEO
            </li>
        </ul>
        <h1>Our Team:</h1>
        <p>“No one can whistle a symphony, it takes a whole orchestra to play it” -H.E. Luccock.
        </p>
        <p>
            Our team is our greatest asset that allows us to attain uncommon results day after day. Tt is an orchestra where each member performs his own mission in to order achieve “The Master Work”. We are always ready to listen, answer, help, assist, serve and
            support all our clients in the best possible way.


        </p>
        <p>Never ask us if we have, just tell us what you need.</p>
    </div>
    <div class="promo" (click)="OpenModal()">
        <img src="assets/imgs/gf.jpg">
    </div>
</ion-content>